/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Kaushan Script */
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

/* Irish Grover */
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");

/* Just Another Hand */
@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap");

/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Roboto Mono */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..900;1,100..900&display=swap");

/* Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100..900;1,100..900&display=swap");

/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Oswald */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

/* Raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* PT Sans */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400..700;1,400..700&display=swap");

/* Source Sans Pro */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200..900;1,200..900&display=swap");

/* Merriweather */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300..900;1,300..900&display=swap");

/* Noto Sans */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Ubuntu */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300..700;1,300..700&display=swap");

/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&display=swap");

/* Playfair Display */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Droid Sans */
@import url("https://fonts.googleapis.com/css2?family=Droid+Sans:ital,wght@0,400..700;1,400..700&display=swap");

/* Inconsolata */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

:root {
  --header-nav-height: 4rem;
  --primary-bg-color: #f4f4f4;
  --dropdown-bg: #ffffff;
  --border-color: #eaecf0;
  --fade-white: #cccccc;
  --primary-color: #8837e9;
  --primary-color-fade: #8737e954;
  --global-red: #f96c6c;
  --global-red-light: #e7b3b309;
  --global-red-stroke: #e3b0b027;
  --global-red-color: #f96c6c;
  --color-white-80: #0d0d0da3;
  --color-white-60: #0d0d0d7b;
  --color-white-30: #0d0d0d41;
  --global-box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
  --border-stroke: #eaecf0;
  --overlay-z-index: 1010;
  --color-white: #000000;
  --color-black: #ffffff;
  --fav-color-fill: #fda629;
  --custom-form-bg: #e9e7e7;
  --nav-profile-bg: #f6f6f6;
  --nav-dropdown-text-color: #363853;
  --custom-project-color: #0d0d0d;
  --project-item-icon: #ffffff;

  --project-selected-bg: #e9e7e7;
  --project-selected-text: #0d0d0d7b;

  --image-project-gradient: linear-gradient(45deg, #4d4bfe, #992df2);
  --video-project-gradient: linear-gradient(45deg, #37b6f2, #31c6fe);
  --social-project-gradient: linear-gradient(45deg, #e592c9, #f3627e);
  --templates-project-gradient: linear-gradient(45deg, #1c64f2, #1c64f2);
  --custom-project-gradient: linear-gradient(45deg, var(--color-white-30), var(--color-white-30));

  --dark-gray: #18171a;

  --lavender-fade: #c8a3f56a;
  --lavender-deep: #c8a3f5;
  --button-disabed: #747474;
  --button-enabed: #ffffff;

  --primary-blue: #1c64f2;
}

[data-theme="dark"] {
  --header-nav-height: 4rem;
  --primary-bg-color: #262429;
  --dropdown-bg: #18171a;
  --border-color: #ffffff13;
  --fade-white: #404040;
  --primary-color: #8837e9;
  --primary-color-fade: #8737e954;
  --color-white-80: #ffffffa3;
  --color-white-60: #ffffff7b;
  --color-white-30: #ffffff41;
  --global-box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
  --border-stroke: #313636;
  --overlay-z-index: 1010;
  --color-white: #ffffff;
  --color-black: #000000;
  --fav-color-fill: #fda629;
  --custom-form-bg: #3c3a40;
  --nav-profile-bg: #18171a;
  --nav-dropdown-text-color: #ffffffa3;
  --custom-project-color: #ffffff64;
  --project-item-icon: #000000;

  --image-project-gradient: linear-gradient(45deg, #4d4bfe, #992df2);
  --video-project-gradient: linear-gradient(45deg, #37b6f2, #31c6fe);
  --social-project-gradient: linear-gradient(45deg, #e592c9, #f3627e);
  --templates-project-gradient: linear-gradient(45deg, #1c64f2, #1c64f2);
  --custom-project-gradient: linear-gradient(45deg, var(--color-white-30), var(--color-white-30));
  --project-selected-bg: #3c3a40;
  --project-selected-text: #a8a7a9;

  --dark-gray: #999999;

  --lavender-fade: #c8a3f56a;
  --lavender-deep: #c8a3f5;
  --button-disabed: #747474;
  --button-enabed: #ffffff;

  --primary-blue: #1c64f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  background: none;
  font-family: "Inter", sans-serif;

  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

body {
  background: var(--primary-bg-color);
  color: #ffffffd0;
  overflow: hidden;
}

button,
[role="button"] {
  cursor: pointer;
}

:focus-visible {
  outline: 1px solid var(--primary-color);
}

img {
  object-fit: cover;
}

*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  text-align: left;
  font-family: "Inter";
}

:before,
:after {
  --tw-content: "";
}

:disabled {
  cursor: not-allowed !important;
}

html,
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button {
  text-align: center;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

footer button {
  text-align: center;
}

button,
[role="button"],
[tabindex="0"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

select {
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  /* appearance: none; */
  background: none !important;
}

/* 

    Modal Animation

*/

.animation-modal {
  animation: Modal 0.4s ease;
}

@keyframes Modal {
  from {
    transform: scale(0.9);
    opacity: 0.8;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(10px);
    opacity: 0.8;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animation-dropdown {
  animation: Dropdown 0.3s ease;
}

@keyframes Dropdown {
  from {
    transform: translateY(-10px);
    opacity: 0.8;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animation-dropdown-up {
  animation: DropdownUp 0.1s ease;
}

@keyframes DropdownUp {
  from {
    transform: translateY(10px);
    opacity: 0.8;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes imageScale {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

.custom-thin-scroll-bar::-webkit-scrollbar {
  width: 0.375rem;
  height: 0.375rem;
  scrollbar-width: auto !important;
}

.custom-thin-scroll-bar::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-thin-scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: #e9e9e9;
}

.animate__animated {
  animation-duration: 0.3s !important;
  z-index: 9;
}

.animate__animated_seconds--3000 {
  animation-duration: 0.3s !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-flex-row {
  display: flex;
  align-items: center;
  gap: 2px;
}

.skeleton---loading {
  background: linear-gradient(90deg, #f0f0f09f 25%, #e0e0e0a7 50%, #f0f0f0a4 75%);
  background-size: 200% 100%;
  animation: SkeletonShimmer 1.5s infinite;
}

@keyframes SkeletonShimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0% 0;
  }
}
