.aside_item {
  width: 100% !important;
  height: 25px !important;
  border-radius: 6px !important;
  margin: 10px 0 !important;
}

.skeleton_loading {
  background: linear-gradient(90deg, #f0f0f09f 25%, #e0e0e0a7 50%, #f0f0f0a4 75%);
  background-size: 200% 100%;
  animation: SkeletonShimmer 1.5s infinite;
}

@keyframes SkeletonShimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0% 0;
  }
}
