/* Custom Driver.js Styles */
.driver-popover {
  background: #2563eb !important;
  color: white !important;
  border-radius: 16px !important;
  padding: 10px !important;
  max-width: 400px !important;
  animation: FadeIn 2s ease;
}

@keyframes FadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.driver-fade .driver-overlay path {
  fill: transparent !important;
  opacity: 0.1 !important;
}

.driver-active-element {
  border: 2px solid var(--primary-color);
  border-radius: 8px;
}

#sidebar .sidebar_container__bordered li.driver-active-element a {
  background: none !important;
  color: black;
}

.driver-popover-arrow {
  border: 5px solid #2563eb;

  border-left-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
}

/* small secondary text like "2 of 4" */
.my-driver .tour-index {
  font-weight: 600;
  opacity: 0.95;
  font-size: 14px;
}

/**





























*/
.driver-popover * {
  font-family: "Inter", sans-serif !important;
}

.tour-image-container {
  width: 100%;
  height: 5rem;
}

.tour-title {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.2;
}

.tour-title .title_highlight {
  color: #ffa800;
}

.tour-desc {
  padding-top: 0.5rem;
  font-size: 15px;
  color: #d0d5dd;
}

.tour-image {
  width: 100%;
}

.tour-footer-content {
  padding: 1rem;
}

.tour-footer {
  padding-top: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 1rem 5px; */
}

.tour-controls .btn {
  font-size: 13px;
  font-weight: 300;
  padding: 5px 20px;
  border-radius: 5px;
}

.tour-controls .btn.btn-prev {
  background: none;
}

.tour-controls .btn.btn-next,
.tour-controls .btn.btn-done {
  background: #ffffff;
  color: #1c64f2;
}

.driver-popover-close-btn {
  background: transparent;
  cursor: pointer;
  z-index: 1000;
  top: 10px;
  right: 5px;

  transition: transform 0.3s ease;
}

.driver-popover-close-btn:hover {
  background: none;
  transform: scale(1.5);
}

.tour-dots {
  display: flex;
  gap: 8px;
  align-items: center;
}

.tour-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  cursor: pointer;
}

.tour-dot.active {
  background: white;
  transform: scale(1.15);
}

/* This rule will override conflicting styles and fix the alignment. */
.custom-driver-popover {
  margin: 0 !important;
  transform: none !important;
}
