.ads1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  padding: 2rem;
}

.ads1 > .img1 {
  position: absolute;
  top: -2.5rem;
  left: 33.333333%;
  height: 6rem;
  width: 5rem;
}

.ads1 > .img2 {
  position: absolute;
  bottom: 0.125rem;
  left: -2rem;
  height: 6rem;
  width: 5rem;
}

.ads1 > .img3 {
  position: absolute;
  bottom: 0.5rem;
  right: -2rem;
  height: 9rem;
  width: 9rem;
  --tw-rotate: 70deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.ads1 .ads_content {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.75rem;
}

.ads1 .ads_content__prod__brand {
  min-height: 3.5rem;
  min-width: 3.5rem;
}

.ads1 .ads_content__prod__brand > img {
  width: 3.5rem;
  height: 3.5rem;
}

.ads1 .ads_content__body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.ads1 .ads_content__body p {
  text-wrap: wrap;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(250 204 21 / var(--tw-text-opacity));
}

.ads_user_profile {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.ads_user_profile_header {
  min-height: 55%;
  width: 100%;
}

.ads_user_profile_header__bg {
  position: relative;
  height: 60%;
  width: 100%;
  background-image: url("../images/user_frame.png");
  --tw-gradient-from: #93c5fd var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(147 197 253 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #f87171 var(--tw-gradient-to-position);
  background-size: cover;
}

.ads_user_profile_header__bg > label {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 300;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.ads_user_profile_header__bg_avatar {
  position: absolute;
  bottom: -66%;
  left: 38%;
  width: 6rem;
  height: 6rem;
  border-radius: 9999px;
  border-width: 4px;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.ads_user_profile .ads_user_profile_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 0.25rem;
  padding: 1rem;
}

.ads_user_profile .ads_user_profile_details h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.ads_user_profile .ads_user_profile_details_btn {
  display: flex;
  width: 100%;
  gap: 0.75rem;
}

.ads_user_profile .ads_user_profile_details_btn > button {
  width: 50%;
}

.share-page-header {
  width: 100%;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.share-page-header .share-ads {
  height: 14rem;
  width: 100%;
  border-radius: 1rem;
}

.share-page-header .ads1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  --tw-bg-opacity: 1;
  background-color: rgb(3 7 18 / var(--tw-bg-opacity));
  padding: 2rem;
}

.share-page-header .ads2 {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.share-page-header .share-ctrl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1000ms;
}

.share-page-header .share-ctrl .ff-current-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1.25rem;
}

@media not all and (min-width: 640px) {
  .share-page-header .share-ctrl .ff-current-page {
    align-items: center;
  }
}

@media (min-width: 640px) {
  .share-page-header .share-ctrl .ff-current-page {
    justify-content: center;
  }
}

.share-page-header .share-ctrl .ff-switch {
  margin-bottom: 2rem;
  display: flex;
  width: 100%;
  justify-content: center;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
}

.share-page-header .share-ctrl .ff-switch .switch-btn {
  display: flex;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.share-page-header .share-ctrl .ff-switch .switch-btn[aria-selected="true"],
.share-page-header .share-ctrl .ff-switch .switch-btn:hover {
  background: black;
  color: white;
}
