.issue-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  white-space: wrap;
}

.issue-container {
  width: 55%;
  min-width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.issue-container img {
  width: 203px;
  height: 203px;
}

.issue-container h2 {
  font-size: 24px;
  color: black;
  font-family: inherit;
  font-weight: 600;
}

.issue-container p {
  font-size: 16px;
  color: #8f9099;
  font-family: inherit;
  font-weight: 300;
}

.issue-container button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 2rem;
  background: #8837e9;
  border-radius: 10px;
  color: #ffffff;
  margin-top: 2rem;
}
