.pie-slice-countdown {
  --pct: 100; /* start at 100% */
  --size: 30px;

  position: relative;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: conic-gradient(var(--primary-color) calc(var(--pct) * 1%), var(--live-container-bg) 0);
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 10px; */
  font-family: sans-serif;
  color: #fff;

  transition: all 0.3s ease-in-out;
}

.pie-slice-countdown .label {
  position: absolute;
  font-size: 0.5em;
  pointer-events: none;
}
