.logoutOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #34405480;
  z-index: var(--overlay-z-index);

  display: flex;
  justify-content: center;
  align-items: center;
}

.logoutOverlayWrapper {
  position: relative;
  background: white;
  border-radius: 14px;

  width: 30rem;
  padding: 1.5rem;
  border-radius: 1rem;
}

.logoutOverlayWrapper > #logoutModalMobileClose {
  position: absolute;
  top: -4rem;
  right: 1rem;
  z-index: var(--overlay-z-index);

  background: white;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;

  display: none;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 667px) {
  .logoutOverlayWrapper > #logoutModalMobileClose {
    display: flex;
  }
}

.logout_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#userLogoutProfile {
  width: 50px;
  height: 50px;

  position: relative;
}

#userLogoutProfile img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 100%;
}

#userLogoutProfile span {
  position: absolute;
  bottom: 3px;
  right: -3px;

  width: 20px;
  height: 20px;

  background: #b42318;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

.logout_container h2 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #101828;
}

.logout_container p {
  font-size: 1rem;
  font-weight: 400;
  color: #667085;
  text-align: center;
}

.logout_container footer {
  width: 100%;
  display: flex;
  gap: 10px;

  padding-top: 1.5rem;
}

.logout_container footer button {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.logout_container footer button:last-child {
  background: #b42318;
  color: white;
}

.logout_container footer button:first-child {
  border: 1px solid var(--border-color);
  color: var(--live-bg-color);
}

.logout_container footer button:hover:first-child {
  background: var(--border-color);
}
