.color_picker_overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: #00000053;

  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: auto;
  z-index: var(--overlay-z-index);
}

.color-picker {
  width: 25rem;
  padding: 15px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.color-preview {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  position: relative;
  margin-bottom: 15px;
  cursor: pointer;
}

.color-picker-slider-container {
  margin-bottom: 15px;
}

.color-picker-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  border-radius: 6px;
  margin: 10px 0;
  cursor: pointer;
}

.hue-slider {
  background: linear-gradient(to right, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000);
}

.opacity-slider {
  background: linear-gradient(to right, transparent, black);
}

.color-picker-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  border: 2px solid #ddd;
  cursor: pointer;
}

.color_inputs {
  display: flex;
  gap: 10px;
  /* margin-bottom: 15px; */
  display: flex;
  align-items: center;
}

.color_inputs > *:nth-child(2) {
  flex: 1;
}

.color_inputs > *:nth-child(3),
.color_inputs > *:nth-child(1) {
  width: 5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color_picker_group {
  border: 1px solid #e5e7eb4f;
  background: white;
  padding: 3px 10px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  gap: 5px;

  font-size: 0.9rem !important;
  color: #374151;
}

.color_picker_group input {
  border: none;
  background: none;
  outline: none;
  /* width: 70px; */
  width: 100%;
}

.recent-colors {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.color-picker-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.color-item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ddd;
}

.recent-colors h4 {
  color: #374151;
  font-size: 0.9rem;
  font-weight: 500;
}

.selector-dot {
  position: absolute;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  border: 2px solid white;
  transform: translate(-50%, -50%);
  pointer-events: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.use_color_btn_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.use_color--btn {
  color: #c5c5c5;
  font-size: 0.8rem;
  text-decoration: underline;
  font-weight: 600;
}
