.send-something-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  pointer-events: none;
}

.send-something-modal-wrapper {
  position: relative;
  width: 15rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.send-something-modal-wrapper > div {
  position: absolute;
  pointer-events: none;
  padding: 1rem;

  width: 15rem;
  /* height: 10rem; */
}

.send-something-modal-wrapper > div img {
  width: 100%;
  height: 100%;
}

.send-something-modal-wrapper > div span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: auto;

  font-size: 1.5rem;
  font-weight: 600;
}

.send-something-modal-wrapper > div.item-1 {
  top: 30%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}

.send-something-modal-wrapper.two > div.item-1 {
  top: 10%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}

.send-something-modal-wrapper.two > div.item-2 {
  top: 30%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}

.send-something-modal-wrapper > div {
  animation: slideUp 1.5s ease-in-out;
}

@keyframes slideUp {
  from {
    transform: translateY(10rem);
  }
  to {
    transform: translateY(0);
  }
}
