:disabled {
  cursor: not-allowed;
}

.task_timer--modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #34405480;
  z-index: 99999999999;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: Modal 0.2s ease;
}

.task_timer {
  width: 36rem;
  border-radius: 10px;
  background: white;
}

.task_timer > div:not(.task_timer_main) {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task_timer .task_timer_header {
  border-bottom: 1px solid #f3f3f3;
  border-radius: 10px 10px 0 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.task_timer .task_timer_footer {
  border-top: 1px solid #f3f3f3;
  border-radius: 0 0 10px 10px;
}

.task_timer #hide_task_timer {
  width: 100%;
  background: #f4f4f4;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s ease;
}

.task_timer #hide_task_timer:hover {
  background: #e9e9e9d1;
}

.task_timer .task_timer_main {
  padding: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.task_timer_main > div,
.task_timer_main .timer,
.task_timer_main .timer > div,
.task_timer_main .timer .action {
  display: flex;
}

.task_timer_main > div:first-child {
  gap: 10px;
}

.task_timer_main > div:first-child span {
  align-self: flex-end;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.task_timer_main .timer {
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.task_timer_main .timer .time {
  color: #8837e9;
}

.task_timer_main .timer[data-time="0"] .time {
  color: black;
}

.task_timer_main .timer small {
  font-size: 0.9rem;
  font-weight: 600;
}

.task_timer_main .timer > div {
  align-items: center;
  gap: 3px;
}

.task_timer_main .timer > div .time {
  font-size: 2.5rem;
  font-weight: 600;
}

.task_timer_main .timer .action {
  flex-direction: column;
  gap: 10px;
}

.task_timer_main .timer .action button {
  background: #f4f4f4;
  border-radius: 3px;
}

.task_timer_main .timer .action button:disabled {
  cursor: not-allowed;
}

.task_timer #timer_actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task_timer #timer_actions button {
  border-radius: 8px;
  width: 100px;
  padding: 5px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-weight: 400;
}

.task_timer #timer_actions button {
  background: #f4f4f4;
}

.task_timer #timer_actions button:disabled {
  background: #f4f4f4a8;
}

.task_timer #timer_actions button#set_timer {
  background: #8837e9;
  color: white;
}

.task_timer #timer_actions button#set_timer:disabled {
  background: #8737e94f;
}

.task_timer_cancel--mobile {
  display: none;
}

@media screen and (max-width: 667px) {
  .task_timer_cancel--mobile {
    width: 40px;
    height: 40px;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: -3rem;
    right: 1rem;
    background: #ffffff;
  }

  #task_timer_wrapper {
    position: relative;
    align-self: flex-end;
    width: 100%;
  }

  .task_timer {
    border-radius: 10px 10px 0 0;
    width: 100%;
  }
}

#delete_timer {
  background: #e50800 !important;
  color: white;
  transition: all 0.3s ease;
}

#delete_timer:hover {
  background: #940500 !important;
}
