.global_send_gift_modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #34405480;
  z-index: 2000;

  display: flex;
  justify-content: center;
  align-items: center;
}

.global_send_gift_modal.dark {
  position: fixed;
}

.send_gift_container {
  width: 25rem;

  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  padding: 15px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.global_send_gift_modal.dark .send_gift_container {
  background: #191b23;
}

.send_gift_container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-weight: 300;
  font-size: 14px;
}

.send_gift_container header * {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.send_gift_container header div.title span:last-child {
  font-size: 16px;
  font-weight: 600;
}

.send_gift_container header div.title img {
  width: 20px;
  height: 20px;
}

.send_gift_container footer {
  display: flex;
  gap: 10px;
  padding: 0;
}

.send_gift_container footer button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.send_gift_container footer button:first-child {
  border: 1px solid #444954;
  color: #000000;
  background: transparent;
}

.global_send_gift_modal.dark .send_gift_container footer button:first-child {
  color: #ffffff;
}

.send_gift_container footer button:last-child {
  border: 1px solid #ff2d6c;
  color: #ffffff;
  background: #ff2d6c;
}

.send_gift_container .select_amount p {
  font-weight: 300;
  font-size: 13px;
}

.send_gift_container .select_amount .amounts {
  padding-top: 10px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.send_gift_container .select_amount .amounts > div {
  height: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-size: 1.6rem;
  font-weight: 700;

  border-width: 2px;
  border-style: solid;

  border-color: #bdbdbd;

  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.send_gift_container .select_amount .amounts > div:hover,
.send_gift_container .select_amount .amounts > div.active {
  border-color: #ff2d6c;
}

.send_gift_users_select {
  background: #191b2310;
  border-radius: 10px;

  position: relative;
}

.global_send_gift_modal.dark .send_gift_users_select {
  background: #272a33;
}

.send_gift_users_select .send_gift_user_preview {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.send_gift_users_select .send_gift_user_preview img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.send_gift_users_select .send_gift_user_preview span {
  font-size: 14px;
  font-weight: 600;
}

.send_gift_users_select .send_gift_user_preview svg {
  margin-left: auto;
  transition: transform 0.2s ease-in-out;
}

.send_gift_users_select .send_gift_user_preview[aria-expanded="true"] svg {
  transform: rotate(180deg);
}

.send_gift_users_select .send_gift_user_preview ~ ul {
  display: none;
}

.send_gift_users_select .send_gift_user_preview[aria-expanded="true"] ~ ul {
  display: block;
}

.send_gift_users_dropdown {
  position: absolute;
  top: 120%;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  gap: 10px;

  height: 13rem;
  overflow-y: auto;
  scrollbar-width: none;
  background: #f2f2f2;
  border-radius: 10px;

  box-shadow: var(--sizemug-shadow-xl);
}

.global_send_gift_modal.dark .send_gift_users_dropdown {
  background: #272a33;
  box-shadow: none;
}

.send_gift_users_dropdown::-webkit-scrollbar {
  display: none;
}

.send_gift_users_dropdown li {
  padding: 10px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.send_gift_users_dropdown li img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.send_gift_users_dropdown li span {
  font-size: 14px;
  font-weight: 600;
}

.send_gift_users_dropdown li svg {
  display: none;
}

.send_gift_users_dropdown li svg {
  margin-left: auto;
  transition: transform 0.2s ease-in-out;
}

.send_gift_users_dropdown li[aria-selected="true"] svg {
  display: block;
}
