/**-------- Live Room: User Profile Modal --------**/
.live-room-profile-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #34405480;
  z-index: var(--overlay-z-index);

  display: flex;
  justify-content: center;
  align-items: center;
}

.live-room-profile-modal-container {
  width: 30rem;

  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 18px;
  border-radius: 15px;
  background: #11131a;
}

.live-room-profile-modal-container > div:first-child {
  background: #191b23;
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 7px;
  border-radius: 15px;
}

.live-room-profile-modal-container > div:first-child img {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  object-fit: cover;
}

.live-room-profile-modal-container > div:first-child h2 {
  font-weight: 600;
  font-size: 1.3rem;
}

.live-room-profile-modal-container > div:first-child p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  color: #ffffff91;
  font-size: 1rem;
}

.live-room-profile-modal-container > div:nth-child(2) {
  display: flex;
  gap: 0.8rem;
}

.live-room-profile-modal-container > div:nth-child(2) div {
  width: 100%;
  background: #191b23;
  border-radius: 15px;
  padding: 1rem 1.8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.live-room-profile-modal-container > div:nth-child(2) div span:first-child {
  color: #8837e9;
  font-size: 1rem;
  font-weight: 500;
}

.live-room-profile-modal-container > div:nth-child(2) div span:last-child {
  color: white;
  font-weight: 600;
  font-size: 1.1em;
}

.live-room-profile-modal-container .posts h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
  padding-bottom: 7px;
}

.live-room-profile-modal-container .posts .media_container {
  overflow-x: auto;
  width: 100%;
  height: 8rem;
  scrollbar-width: none;

  display: flex;
  align-items: center;
  gap: 8px;
}

.live-room-profile-modal-container .posts .media_container img {
  height: 100%;
  min-width: 6rem;
  border-radius: 10px;
}

.live-room-profile-modal-container .posts .media_container a {
  white-space: nowrap;
  color: #8837e9;
}

.live-room-profile-modal-container footer {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.live-room-profile-modal-container footer > * {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 500;

  text-align: center;
}

.live-room-profile-modal-container footer > *:first-child {
  background: var(--follow);
}

.live-room-profile-modal-container footer > *:last-child {
  background: #191b23;
  border: 1px solid #2e3038;
}
