.progress-container-wrapper.no-hroz {
  padding: 1rem 0;
}

.progress-container {
  background: #8737e927;
  padding: 1.3rem 1.5rem;
  border-radius: 10px;

  display: flex;
  align-items: center;
  gap: 17px;
}

#circularProgress {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1;
}

#circularProgress .progressbar-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#circularProgress .label {
  color: #667085;
  font-size: 1rem;
}

#circularProgress .percentage {
  font-weight: 800;
  color: #101828;
  font-size: 1.3rem;
}

.progress-container .progress-bar-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.progress-container .progress-bar-items .progress-item {
  border: 1px solid #8737e95d;
  border-radius: 30px;

  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 10px;
  white-space: nowrap; /* Prevent text from breaking */
}

.progress-container .progress-bar-items .progress-item.active {
  background: #4de03325;
  border: 1px solid #4de03359;
}

.progress-bar-items .progress-item span {
  font-weight: 500;
}

.progress-container .progress-bar-items .progress-item span {
  word-wrap: normal; /* Ensure text doesn't wrap */
  color: var(--primary-color);
}

.progress-container .progress-bar-items .progress-item.active span {
  color: black;
}

.progress-container .progress-bar-items .progress-item.active span .progress-add,
.progress-container .progress-bar-items .progress-item span .progress-completed {
  display: none;
}

.progress-container .progress-bar-items .progress-item span .progress-add,
.progress-container .progress-bar-items .progress-item.active span .progress-completed {
  display: inline;
}

.progress-container .progress-bar-items .progress-item span:first-child {
  height: 100%;
  width: 1.6rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 667px) {
  .progress-container {
    flex-direction: column;
    align-items: flex-start;

    max-height: none;
    min-height: none;
  }

  #circularProgress {
    max-width: 8rem;
  }
}
