.sg_custom_dropdown_container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  outline: none;
  transition: all 0.5s ease-in-out;
}

.sg_custom_dropdown_btn {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sg_custom_dropdown {
  position: absolute;
  top: 120%;
  left: 0;
  right: 0;
  z-index: 100;
  display: none;
  height: 150px !important;
  max-height: 150px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  scrollbar-width: none;
  scrollbar-color: #ccc transparent;
}

.sg_custom_dropdown_container.open {
  border-color: #f4f4f4;
}

.sg_custom_dropdown_item {
  height: auto !important;
  color: black;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-bottom: 1px solid #f4f4f4;
}

.sg_custom_dropdown_item:last-child {
  border-bottom: none;
}

.sg_custom_dropdown_item:hover {
  background-color: #f4f4f4;
}

.sg_custom_dropdown_item.active {
  background-color: #f4f4f4;
  color: #000000;
}

.sg_custom_dropdown_item.active:hover {
  background-color: #f4f4f4;
}
