nav#mobile_bottom_nav {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px 4px;
  backdrop-filter: blur(10px);
  height: 5rem;
  border-top: 1px solid #f3f3f3;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav#mobile_bottom_nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

nav#mobile_bottom_nav a.addition {
  background: black;
  border-radius: 30px;
}

nav#mobile_bottom_nav a img {
  border: 1px solid #8837e9;
  border-radius: 100%;
}

@media screen and (min-width: 667px) {
  nav#mobile_bottom_nav {
    display: none;
  }
}
