.top-message {
  position: fixed;
  top: 4rem;
  right: 9rem;
  z-index: 53;
  box-sizing: border-box;
  display: flex;
  height: 66.666667%;
  width: 24rem;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 0px;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background: #ffffff;
  color: var(--live-bg-color);
}

.top-message.live-top-messages {
  position: absolute;
  top: 2.5rem;
  right: 2.2rem;

  height: 30rem;
}

@media not all and (min-width: 768px) {
  .top-message {
    right: 7rem;
  }
}

@media not all and (min-width: 640px) {
  .top-message {
    top: 0px;
    right: 0;
    height: 100%;
    width: 100%;
  }
}

.top-message-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.top-message-title h3.label {
  font-size: 18px;
  font-weight: 600;
  color: #363853;
}

.top-message-title button {
  color: var(--link-color);
  font-size: 14px;
  font-weight: 600;
}

.top-message-content {
  order: 1;
  width: 100%;
  flex-grow: 1;
  gap: 0.5rem;
  overflow: auto;
}

.top-message-content > .top-message-items {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.top-message-content > .top-message-items > .top-message-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  overflow: hidden;
  padding: 10px 15px;

  background: #f3f3f337;
  transition: background-color 0.4s ease-in-out;
}

.top-message-content > .top-message-items > .top-message-item:not(:first-child) {
  border-top: 1px solid var(--border-color);
}

.top-message-content > .top-message-items > .top-message-item:hover {
  background: #f3f3f3fc;
}

.top-message-content > .top-message-items > .top-message-item .sender__avatar {
  height: 2.5rem;
  max-height: 2.5rem;
  min-height: 2.5rem;
  width: 2.5rem;
  min-width: 2.5rem;
  max-width: 2.5rem;
  box-shadow: var(--global-box-shadow);
  border-radius: 50%;

  position: relative;
}

.top-message-content > .top-message-items > .top-message-item .sender__avatar img {
  height: 100%;
  width: 100%;
  border-radius: 9999px;
  object-fit: cover;
}

.top-message-content > .top-message-items > .top-message-item .sender__avatar .online_status {
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 0.8rem;
  height: 0.8rem;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background: var(--online-color);
}

.top-message-content > .top-message-items > .top-message-item .sender__avatar .online_status.active {
  background: var(--online-color);
}

.top-message-content > .top-message-items > .top-message-item .sender__avatar .online_status.offline {
  background: var(--offline-color);
}

.top-message-content > .top-message-items > .top-message-item .notify-sender-message {
  display: flex;
  height: 100%;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
}

.top-message-content > .top-message-items > .top-message-item .notify-sender-message .sender__name__time {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.dot__separator {
  color: #d7d7d7;
}

.top-message-content > .top-message-items > .top-message-item .notify-sender-message .sender__name__time .sender__name {
  font-size: 13px;
  line-height: 1.25rem;
  font-weight: 400;
}

.top-message-content > .top-message-items > .top-message-item .notify-sender-message .sender__name__time .send__time {
  font-size: 12px;
  line-height: 1.25rem;
  color: rgb(156 163 175 / var(--tw-text-opacity));
  font-weight: 300;
}

.top-message-content > .top-message-items > .top-message-item .notify-sender-message .message__slug {
  width: 100%;
  font-size: 14px;
  line-height: 1.5rem;
  font-weight: 500;
  color: #0000006e;

  display: flex;
  align-items: center;
  gap: 4px;
}

.top-message-content > .top-message-items > .top-message-item .notify-sender-message .message__slug span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-message-content > .top-message-items > .top-message-item.new-message .message__slug {
  color: black;
}

.top-message-content > .top-message-items > .top-message-item .message__indicator {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.top-message-content > .top-message-items > .top-message-item .message__indicator span {
  min-width: 5px;
  width: 5px;
  height: 5px;
  border-radius: 100%;
}

.top-message-content > .top-message-items > .top-message-item .message__indicator span.red {
  background: var(--global-red-color);
}

.top-message-content > .top-message-items > .top-message-item .message__indicator span.purple {
  background: var(--primary-color);
}

.top-message-footer {
  order: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: #6b7280;
  border-top: 1px solid var(--border-color);
}

.top-message-footer > a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.top-message-title,
.top-message-footer {
  padding: 0.5rem 0.75rem;
}
