.profile_header {
  position: absolute;
  right: 0;
  top: 3rem;
  width: 17.68rem;
  height: auto !important;
  background: #ffffff;
  border-radius: 1rem;
  box-shadow: 0px 32px 64px -12px #00000066;
  z-index: 100;
}

.profile_header .head {
  padding: 0.5rem;
  margin: 0.5rem;
  background: #f6f6f6;
  border-radius: 0.4rem;
  height: 6rem;
}

.profile_header .holder_name {
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  align-items: center;
}

.profile_header img {
  width: 1.75rem;
  height: 1.75rem;
}

.profile_header .holder_assest {
  display: flex;
  align-items: center;
  height: 2.5rem;
  gap: 0.5rem;
}

.profile_header .holder_assest span {
  color: #ffc838;
}

.profile_header ul li a {
  display: flex;
  align-items: center;
  height: 3rem;
  /* justify-content: center; */
  font-weight: 500;
  padding: 0 0.75rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.4rem;
  text-decoration: none;

  transition: background-color 0.4s ease-in-out;
}

.profile_header ul li a:hover {
  background: #f6f6f6;
}

.profile_header hr,
.switch_account hr,
.add_account_list hr {
  border: 0;
  border-top: 1px solid #3440546f;
  opacity: 0.5;
  margin: 0 !important;
}

.profile_header h3 {
  font-size: 1rem;
  color: #344054;
  margin-bottom: 0;
  font-weight: 500;
}

.switch_account {
  position: absolute;
  right: 0;
  top: 3rem;
  width: 17.68rem;
  height: 7.5rem;
  background: #ffffff;
  border-radius: 1rem;
  box-shadow: 0px 32px 64px -12px #00000066;
  z-index: 100;
}

.switch_header {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
  align-items: center;
}

.switch-left {
  display: flex;
  gap: 0.5rem;
}

.switch_footer {
  padding: 1rem;
}

.switch_footer button {
  width: 15.68rem;
  height: 2.5rem;
  background: #8837e9;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

/* Account */
.add_account_list {
  position: absolute;
  right: 0;
  top: 3rem;
  width: 17.68rem;
  height: auto;
  background: #ffffff;
  border-radius: 1rem;
  box-shadow: 0px 32px 64px -12px #00000066;
  z-index: 100;
}

.add_account_list .account_list {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.account_list .account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.account_list .account > div:first-child {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.account_list .account h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #344054;
}

.account_list .account span {
  font-size: 0.75rem;
  color: #878f9d;
}
.account_list .account .account_notification {
  background: #ff6363;
  color: #ffffff;
  padding: 0.2rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  font-size: 1rem;
}

.hide-list {
  display: none;
}

.notification-hidden {
  display: none !important;
}
