.app_notification {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 53;
  display: flex;
  height: 100vh;
  width: 400px;
  flex-direction: column;
  gap: 0px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 0px;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  color: var(--live-bg-color);
}

@media not all and (min-width: 640px) {
  .app_notification {
    width: 100%;
  }
}

.app_notification_header {
  display: flex;
  height: 7rem;
  width: 100%;
  flex-direction: column;
  gap: 0.75rem;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.app_notification_header_title {
  position: relative;
  display: flex;
  height: 3rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.app_notification_header_title span.back {
  position: absolute;
  left: 0.75rem;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app_notification_header_title span.back:hover {
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(254 202 202 / var(--tw-bg-opacity));
}

.app_notification_header_title span.label {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.app_notification_header_tab {
  display: flex;
  width: 100%;
  flex-grow: 1;
  justify-content: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.app_notification_body {
  width: 100%;
  flex-grow: 1;
  overflow: auto;
}

.app_notification_body_items {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  scrollbar-width: none;

  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.app_notification_body_items > li {
  display: flex;
  height: 4rem;
  width: 100%;
  cursor: pointer;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  overflow: hidden;
  padding: 0.5rem 1rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.app_notification_body_items > li:hover,
.app_notification_body_items > li.active {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.new_notification {
  width: 1.875rem;
  height: 1.5rem;
  background: #ff6363;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  font-size: 14px;
}

.dot_new_notification {
  max-width: 8px;
  min-width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #8837e9;
}

.dot_new_notification--image {
  position: relative;
  max-height: 2.4rem;
  min-height: 2.4rem;
  min-width: 2.4rem;
  max-width: 2.4rem;
}

.dot_new_notification--position {
  position: absolute;
  bottom: -5px;
  right: -5px;

  width: 20px;
  height: 20px;
  background: linear-gradient(to right, #dbdbdb, #f1f1f1);
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.app_notification_body_items .dot_new_notification--image > img {
  width: 100%;
  height: 100%;
  border-radius: 0.375rem;
  object-fit: cover;

  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.dot_new_notification--position img {
  width: 100%;
  height: 100%;
  border-radius: 100% !important;
  object-fit: cover;
}

.dot_new_notification--live--parent {
  position: relative;
  max-height: 3rem;
  min-height: 3rem;
  min-width: 3rem;
  max-width: 3rem;
}

.dot_new_notification--live--parent img {
  width: 100%;
  height: 100%;
  border: 2px solid #ffff;
  border-radius: 100% !important;
  object-fit: cover;
}

.live_notification {
  border: 2px solid #8837e9;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.dot_new_notification--live {
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  background: #8837e9;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.app_notification_body_items > li .app_notification_m_content {
  flex-grow: 1;
  overflow: hidden;
}

.app_notification_body_items > li .app_notification_m_content .notification_ {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.app_notification_body_items > li .app_notification_m_content .notification_sender {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.app_notification_body_items > li .app_notification_m_content .notification_sender span.sender__ {
  padding: 0px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.app_notification_body_items > li .app_notification_m_content .notification_sender .dot__separator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app_notification_body_items > li .app_notification_m_content .notification_sender .dot__separator_sm {
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 9999px;
  --tw-bg-opacity: 0.5;
}

.app_notification_body_items > li .app_notification_m_content .notification_sender .dot__separator_md {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 9999px;
  --tw-bg-opacity: 0.5;
}

.app_notification_body_items > li .app_notification_m_content .notification_sender .dot__separator_lg {
  width: 1rem;
  height: 1rem;
  border-radius: 9999px;
  --tw-bg-opacity: 0.5;
}

.app_notification_body_items > li .app_notification_m_content .notification_sender .send__time {
  text-wrap: nowrap;
  font-weight: 300;
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.app_notification_body_items > li .app_notification_m_content .notification_message {
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));

  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.app_notification_body_items > li .notification_follow_back {
  width: -moz-fit-content;
  width: fit-content;

  transition: all 0.3s ease;
}

.app_notification_body_items > li .notification_follow_back:hover {
  color: #0933a5eb;
}

.app_notification_body_items > li .notification_follow_back .following-link {
  white-space: nowrap;
  text-wrap: nowrap;
}

.app_notification_body .req img {
  border-radius: 9999px;
}

.app_notification_body_items .notification_follow_back {
  font-size: 15px;
  color: #ffff;
  padding: 5px 7px;
  border-radius: 9px;
  background: #1c64f2;
  min-width: 100px !important;
}

.notification_req_accept_cancel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 0.5px; */
  width: 65px;
  border-radius: 20px;
  border: 1px solid #eaecf0;
}

.app_notification_footer {
  position: relative;
  z-index: 999999999;

  min-height: 3.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.app_notification_footer a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle_coin {
  color: #ffa800;
}

.image_holder {
  width: 100%;
  max-height: 100%;
  max-height: 2.4rem;
  min-height: 2.4rem;
  min-width: 2.4rem;
  max-width: 2.4rem;
  border-radius: 8px;
  background: linear-gradient(to bottom right, #ffa800, #ffc838);

  display: flex;
  justify-content: center;
  align-items: center;
}

.image_holder:has(.task--note) {
  background: #8837e9;
}

.image_holder:has(.sent_gift) {
  background: linear-gradient(to bottom right, #ff2d6c, #991b41);
}

.image_holder--note {
  background: #fda629;
}

.image_holder--share {
  background: #8837e9;
}

.image_holder--task {
  background: #8837e9;
}

.image_holder img {
  border-radius: 4px;
}

#you_share_task {
  border-radius: 100%;
}

.confirm-following {
  order: 1;
  display: flex;
  height: 2rem;
  width: 5rem;
  flex: none;
  flex-grow: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.confirm-following-group {
  order: 0;
  display: flex;
  height: 1.5rem;
  width: 3.5rem;
  flex: none;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0px;
}

.confirm-following-group > button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-cancel {
  cursor: help;
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.confirm-cancel:hover {
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.confirm-done {
  order: 1;
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.confirm-done:hover {
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.notify-sender-message {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}

.notify-sender-message .sender__name__time {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.notify-sender-message .sender__name__time .sender__name {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.notify-sender-message .sender__name__time .dot__separator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notify-sender-message .sender__name__time .dot__separator_sm {
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 9999px;
}

.notify-sender-message .sender__name__time .dot__separator_md {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 9999px;
}

.notify-sender-message .sender__name__time .dot__separator_lg {
  width: 1rem;
  height: 1rem;
  border-radius: 9999px;
}

.notify-sender-message .sender__name__time .send__time {
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.notify-sender-message .message__slug {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.no_request_notifications {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

.no_request_notifications > img {
  width: 9rem;
  height: 9rem;
}

.no_request_notifications h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

.no_request_notifications p {
  font-size: 1rem;
  font-weight: 400;
  color: #8f9099;
  text-align: center;
}

.no_request_notifications a {
  width: 13.81rem;
  height: 2.5rem;
  background: #8837e9;
  color: #ffffff;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

.app_notification_body_items .for-right-margin img.user-avatar {
  border-radius: 50%;
}

.inline-tab {
  height: 100%;
  width: 50%;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.inline-tab div {
  display: flex;
  padding: 1rem 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.inline-tab input:checked + div {
  border-bottom: 2px solid #0c131c;
  color: rgb(0 0 0 / var(--tw-text-opacity)) !important;
}

label.inline-tab input:checked + div svg g path:first-child {
  stroke: rgb(0 0 0 / var(--tw-text-opacity)) !important;
}

label.inline-tab input:checked + div svg g path:last-child {
  fill: rgb(0 0 0 / var(--tw-text-opacity)) !important;
}

label.inline-tab input:checked + div svg > path {
  fill: rgb(0 0 0 / var(--tw-text-opacity)) !important;
}

label.inline-tab div svg g path:first-child {
  stroke: rgb(156 163 175 / var(--tw-text-opacity));
}

label.inline-tab div svg g path:last-child {
  fill: rgb(156 163 175 / var(--tw-text-opacity));
}

label.inline-tab div svg > path {
  fill: rgb(156 163 175 / var(--tw-text-opacity));
}

.inline-tab input:checked[data-tabpanel="post"] + div {
  border-bottom-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.inline-tab-rounded {
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.inline-tab-rounded div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  text-align: center;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.inline-tab-rounded input:checked + div {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.inline-tab-rounded input:checked span {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
