.not_found_main_wrapper {
  height: calc(100dvh - var(--header-nav-height));
  overflow: hidden;
  position: relative;
}

.not_found_main {
  padding: 1rem !important;
  overflow-y: auto !important;
  height: 100% !important;
}

.not_found_main {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;

  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

/* 404 Container */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

._container_404 {
  width: 100%;
  border-radius: 15px;
  background: #202740;
  padding: 1.5rem 3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  position: relative;
}

._container_404 h3 {
  font-family: "Quicksand", sans-serif;
  padding: 10px 16px;
  background: #ffffff10;
  border-radius: 10px;
  font-weight: bold;
  display: inline;
  font-size: 4rem;
}

._container_404 h2 {
  font-size: 48px;
  font-weight: bold;
  padding: 0.8rem 0;
}

._container_404 p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #f4f4f4;
}

/* Live Container */
._container_live,
._container_feed {
  padding: 10px;
  border: 1px solid #f3f3f3;
  border-radius: 15px;
}

._container_live header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._container_live header a {
  color: var(--primary-color);
  font-size: 13px;
}

.not_found_main > div > h2,
._container_live header h2 {
  font-size: 1.7rem;
  font-weight: bold;
}

.live_items {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scrollbar-width: none;
  min-height: 15rem;

  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.live_item {
  min-width: 20rem;
  height: 16rem;
  display: flex;
  flex-direction: column;
}

.live_item .top_level {
  position: relative;
  height: 65%;
  border-radius: 12px;
  overflow: hidden;
}

.live_item .bottom_level {
  height: 35%;
  padding-top: 10px;
  display: flex;
  gap: 10px;
}

.live_item .live_overlay {
  position: absolute;
  background: #000000b5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.live_item .live_overlay > div {
  display: flex;
  justify-content: space-between;
}

.live_item .live_overlay .live_signal {
  background: #8837e9;
  padding: 2px 8px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 0.7rem;
  color: white;
}

.live_item .live_overlay .viewers {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.7rem;
  font-weight: 500;
  padding: 2px 8px;
  background: #00000083;
  border-radius: 20px;
  border: 1px solid #eaecf03f;
  color: #ffffff;
}

.live_item .live_collaborators {
  display: flex;
  align-items: center;
}

.live_item .live_collaborators img,
.live_item .live_collaborators div {
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
  border-radius: 100%;
  border: 2px solid #8837e9;
  margin-right: -10px;
  object-fit: cover;
}

.live_item .live_collaborators img:last-child {
  margin-right: 0 !important;
}

.live_item .live_collaborators div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  background: #8837e9;
  font-size: 12px;
  font-weight: 500;
  margin-right: 0;
}

.live_item .bottom_level > div img:first-child {
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 50px;
  border-radius: 100%;
  object-fit: cover;
}

.live_item .live_overlay .live_hot {
  background: white;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 8px;
  border-radius: 20px;
  font-size: 0.8rem;
}

.live_item .bottom_level h2 {
  font-weight: 500;
  color: #344054;
  font-size: 0.9rem;

  margin: 0;
  max-height: 4rem;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.2rem;
}

.live_item .bottom_level .content {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
  padding-top: 10px;
}

.live_item .bottom_level .content span {
  width: 4px;
  height: 4px;
  background: #d9d9d9;
  border-radius: 100%;
}

.live_item .bottom_level .content h6 {
  color: #667085;
}

.live_item .bottom_level .content a {
  color: #1c64f2;
}

@media screen and (max-width: 667px) {
  .content_area main {
    padding: 0.5rem 0.8rem;
  }

  .not_found_main {
    height: calc(100dvh - 6.5rem);
  }

  ._container_404 {
    padding: 1.8rem 0.8rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  ._container_404 h3 {
    font-size: 3rem;
  }

  ._container_404 h2 {
    font-size: 2.4rem;
    padding: 0.5rem 0;
  }

  ._container_404 p {
    font-size: 1.1rem;
  }
}

.live_skeleton {
  min-width: 20rem;
  height: 16rem;
  border-radius: 6px !important;
}

.skeleton_loading {
  background: linear-gradient(90deg, #f0f0f09f 25%, #e0e0e0a7 50%, #f0f0f0a4 75%);
  background-size: 200% 100% !important;
  animation: SkeletonShimmer 1.5s infinite !important;
}

@keyframes SkeletonShimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0% 0;
  }
}

.not-found-hidden {
  display: none !important;
}
