:root {
  --text-normal: #2d3648;
  --text-success: #12b76a;
  --text-error: #f04438;
  --text-warning: #f79009;
  --coin-color: #f99335;
  --wallet-color: #661fbc;
  --follow: #1c64f2;
  --live-bg: #8837e9;
}

[x-cloak] {
  display: none !important;
}

#search_dialog {
  position: absolute;
  top: 2.75rem;
  right: auto;
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  border: 1px solid #f3f4f6;
  background: #ffffff;
  box-shadow: var(--global-box-shadow);
  animation: Dropdown 0.3s ease;
}

@media not all and (min-width: 1024px) {
  #search_dialog {
    width: 100%;
  }
}

#search_dialog .search_dialog-header {
  margin: 0px;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

#search_dialog .search_dialog-header label input {
  border-style: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

#search_dialog .search_dialog hr {
  margin: 0px;
}

#search_dialog .search_dialog-body {
  margin: 0px;
  max-height: 18rem;
  width: 100%;
  overflow-y: auto;
  padding: 0px;
}

#search_dialog .search_dialog-body-title {
  box-sizing: border-box;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}

#search_dialog .search_dialog-body .search_results_related {
  margin: 0px;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 0px;
  padding: 0px;
}

#search_dialog .search_dialog-body .search_results_related-item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  overflow: hidden;
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

#search_dialog .search_dialog-body .result_category {
  margin: 0px;
  width: 100%;
  padding: 0px;
}

#search_dialog .search_dialog-body .result_category > span {
  clear: both;
  display: block;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

#search_dialog .search_dialog-body .result_category-list {
  margin: 0px;
  padding: 0px;
}

#search_dialog .search_dialog-body .result_category-list .account_list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#search_dialog .search_dialog-body .result_category-list .account_list-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

#search_dialog .search_dialog-body .result_category-list .account_list-profile img {
  width: 2rem;
  height: 2rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--tw-border-opacity));
}

#search_creators_results .account_list-profile img {
  border-radius: 0.375rem !important;
}

#search_accounts_results .account_list-profile img {
  border-radius: 100% !important;
}

#search_dialog .search_dialog-body .result_category-list .account_list-profile-name {
  padding: 0px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

#search_dialog .search_dialog-body .result_category-list .account_list-follow {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: var(--follow);
}

#search_dialog .search_dialog-body .result_category-list-box {
  height: 76px;
  min-width: 66px;
  padding: 0.5rem;
}

#search_dialog .search_dialog-body .result_category-list-box .live-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

#search_dialog .search_dialog-body .result_category-list-box .live-wrapper .live-img-wrapper {
  position: absolute;
  top: 0px;
  display: flex;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 9999px;
  border-width: 2px;
  border-color: var(--live-bg);
}

#search_dialog .search_dialog-body .result_category-list-box .live-wrapper .live-img-wrapper img {
  z-index: -1;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  -o-object-fit: cover;
  object-fit: cover;
}

#search_dialog .search_dialog-body .result_category-list-box .live-wrapper .live-tag {
  position: absolute;
  bottom: 0px;
  z-index: 10;
  height: 20px;
  width: 3rem;
  display: flex;
  align-items: center;
  gap: 0.1rem;
  border-radius: 0.75rem;
  background-color: var(--live-bg);
  padding: 0.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

#search_dialog .search_dialog-body .result_category-list-box .live-wrapper .live-tag span {
  margin: 0px;
  padding: 0px;
  font-size: 11px;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

#search_dialog .search_dialog-body .result_category .live-inline {
  display: flex;
  justify-content: flex-start;
  overflow-y: hidden;
  overscroll-behavior-x: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0px;
  padding-bottom: 0px;

  scrollbar-width: none;
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

#search_dialog .search_dialog-footer {
  margin-top: 2px;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  border-top: 1px solid #e5e7eb;
  padding: 1rem 1.5rem;
  text-align: center;
}

#search_dialog .search_dialog-footer a {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--follow);
}

.y-thin-scroll-bar {
  width: 100%;
  overflow-x: hidden;
  /* Enable horizontal scrolling */
  overflow-y: auto;
  /* Hide vertical scrollbar */
  white-space: nowrap;
  /* Prevent wrapping */
  -ms-overflow-style: none;
  scrollbar-width: 2px;
  /* Hide scrollbar on Firefox */
}

.y-thin-scroll-bar::-webkit-scrollbar {
  width: 0.25rem;
}

.y-thin-scroll-bar::-webkit-scrollbar-track {
  margin-right: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.y-thin-scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}

/*# sourceMappingURL=search_dialog.css.map */

/* LIVE CHAT */
#search_live_chat_results {
  display: flex;
  align-items: center;
  gap: 10px;
}

#search_live_chat_results .space-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  background: #f2f4f7;
  margin-bottom: 4px;
  border-radius: 10px;
  border: 1px solid var(--border-color);

  min-width: 15rem;
}

#search_live_chat_results .space-indicator {
  width: 12px;
  max-width: 12px;
  height: 12px;
  border-radius: 50%;
  flex-shrink: 0;
  background: var(--primary-color);
  padding: 0 !important;
}

#search_live_chat_results .space-indicator.online {
  background: var(--primary-color);
}

#search_live_chat_results .space-indicator.offline {
  background: rgba(255, 255, 255, 0.3);
}

#search_live_chat_results .space-info {
  flex: 1;
  min-width: 0;
}

#search_live_chat_results .space-name {
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 8px;

  margin: 0;
  max-height: 2rem;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 1.2rem;
}

#search_live_chat_results .space-members {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 4px;
}

#search_live_chat_results .member-avatars {
  display: flex;
  align-items: center;
}

#search_live_chat_results .member-avatar {
  width: 28px;
  min-width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #0c121c;
  margin-left: -8px;
  object-fit: cover;
}

#search_live_chat_results .member-avatar:first-child {
  margin-left: 0;
}

#search_live_chat_results .aside-member-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

#search_live_chat_results .member-count {
  font-size: 11px;
  color: #ffffff80;
}

#search_live_chat_results .space-actions {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}

#search_live_chat_results .space-action-icon {
  width: 15px;
  height: 15px;
  color: #ffffff66;
  transition: color 0.3s ease;
  flex-shrink: 0;
}

#search_live_chat_results .space-action-icon.activity-icon {
  color: #01c749;
}

#search_live_chat_results .space-action-icon:hover {
  color: #01c749;
}

#search_live_chat_results .join-space-btn {
  background: transparent;
  color: #01c749;
  border: none;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
}

#search_live_chat_results .join-space-btn:hover {
  color: #059669;
}

#search_live_chat_results .space-info {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
}

#search_live_chat_results .space-name {
  font-size: 12px;
  font-weight: 600;
  color: #101828;
  margin: 0;
  line-height: 1.4;
  word-break: break-word;
}
