.sg-input-checkbox-label {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #1b1d22;
}

.sg-input-checkbox-label a {
  color: var(--primary-color);
}

.input_checkbox {
  position: relative;
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  border-radius: 0.25rem;
  vertical-align: -0.3em;
  border-width: 1px;
  border-color: #d1d5db;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  padding: 2px;
}
.input_checkbox:has(:checked) {
  border-color: #8837e9;
  background-color: #8837e9;
}
.input_checkbox input {
  position: absolute;
}
.input_checkbox input {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.input_checkbox input {
  cursor: pointer;
}
.input_checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input_checkbox input {
  border-radius: 0.25rem;
}
.input_checkbox input {
  outline-offset: 2px;
}
.input_checkbox input:focus-visible {
  outline-width: 2px;
}
.input_checkbox svg {
  pointer-events: none;
}
.input_checkbox svg {
  stroke: #fff;
}
.input_checkbox svg {
  position: absolute;
}
.input_checkbox svg {
  left: 50%;
}
.input_checkbox svg {
  top: 50%;
}
.input_checkbox svg {
  width: 1rem;
  height: 1rem;
}
.input_checkbox svg {
  --tw-translate-x: -50%;
  transform: translate(-50%, var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.input_checkbox svg {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), -50%) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.input_checkbox svg path {
  fill: none;
  stroke-width: 3;
  transition: stroke-dashoffset 150ms ease-in-out;
  stroke-dashoffset: -22.627;
  stroke-dasharray: 22.627;
  stroke-linecap: round;
}
.input_checkbox input:checked + svg path {
  stroke-dashoffset: 0;
}
