:root {
  --header-nav-height: 4rem;
}

.header {
  height: var(--header-nav-height);
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 0 1rem;

  /* display: grid; */
  /* grid-template-columns: repeat(2, minmax(0, 1fr)); */

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
  border-bottom: 1px solid #f1f1f1;
  z-index: 1000; /* To make sure any dropdown in the navbar stays at the top */
}

.header.calender_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .header {
    /* grid-template-columns: repeat(4, minmax(0, 1fr)); */
  }
}

.header_logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.header_logo h3 {
  font-family: roboto, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.header_logo img[loading="lazy"] {
  min-width: 6rem;
}

.header_logo .sidebar_trigger {
  display: none;
}

@media (min-width: 1024px) {
  .header_logo .sidebar_trigger {
    display: flex;
  }
}

.header_logo .popup_trigger {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.header_logo .popup_trigger[data-active="false"] {
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (min-width: 1024px) {
  .header_logo .popup_trigger {
    display: none;
  }
}

.header_dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 50;
  margin-top: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  width: 13rem;
  border-radius: 0.75rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  padding: 0.75rem 0.5rem;
  transform-origin: top;
  --tw-translate-y: -0.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.header_action {
  display: flex;
  height: 2.5rem;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

.sizemug_navbar_action {
  border-radius: 80px;
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
  position: relative;
  padding: 0.25rem;

  border: 1px solid var(--border-color);

  display: flex;
  align-items: center;
  gap: 5px;

  font-size: 10px;
}

.sizemug_navbar_action .tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: 0.25rem;
  --tw-translate-x: -50%;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-style: normal;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transform-origin: top;
  --tw-translate-y: -0.25rem;
  --tw-scale-x: 0.9;
  --tw-scale-y: 0.9;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.sizemug_navbar_action:is(:hover, :focus-visible) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.sizemug_navbar_action:is(:hover, :focus-visible) .tooltip {
  --tw-translate-y: 0px;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 1;
  transition-delay: 0.2s;
}

/* Vanilla CSS Conversion with New Class Names */
#no_mobile_needed {
  width: 40px;
  height: 40px;
  display: block !important;
}

#no_mobile_needed img {
  width: 100%;
  height: 100%;
  display: block !important;
}

#no_mobile_needed {
  border: 1px solid #8837e9;
  border-radius: 100%;
}

/* Wrapper */
.navbar_search_form--wrapper {
  width: 100%;
  padding: 0 2.5rem;

  display: none;
  position: relative;

  /* grid-column: span 2; */
}

@media (min-width: 768px) {
  .navbar_search_form--wrapper {
    display: flex;
    align-items: center;
    gap: 0.7rem;
  }
}

@media (min-width: 1024px) {
  .navbar_search_form--wrapper {
    padding: 0;
  }
}

/* Form */
.navbar-search-form {
  display: flex;
  position: relative;
  width: 100%;
}

/* Search Icon */
.navbar-search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.75rem;
  color: #6b7280;
}

/* Input */
.navbar-search-input {
  flex: 1;
  font-family: "Roboto", sans-serif;
  background-color: #f3f4f6;
  height: 2.5rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.75rem;
  padding-left: 3rem;
}

.navbar-search-input:focus {
  border: none !important;
  outline: none !important;
}

.navbar-search-input::placeholder {
  color: #6b7280;
}

.search_dialog-header label {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
}

/* Dialog */
.dialog-visible {
  display: block;
  z-index: 53;
}

/* Search Dialog Header */
.search-dialog-header {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.search-dialog-header-icon {
  top: 50%;
  transform: translateY(-50%);
  left: 0.75rem;
  font-weight: 200;
  color: #d1d5db;
  position: absolute; /* Ensure positioning works as expected */
}

.search_input_dialog {
  flex: 1; /* Allows the input to grow */
  font-family: "Roboto", sans-serif; /* Sets the Roboto font */
  height: 2.5rem; /* Tailwind's h-10 (10 * 0.25rem) */
  padding-right: 1rem; /* Tailwind's pr-4 (4 * 0.25rem) */
  padding-top: 0.75rem; /* Tailwind's py-3 (3 * 0.25rem) */
  padding-bottom: 0.75rem;
  padding-left: 3rem; /* Tailwind's pl-12 (12 * 0.25rem) */
}

.search_input_dialog::placeholder {
  color: #6b7280; /* Tailwind's text-gray-500 equivalent */
}

.search-dialog-clear {
  border-radius: 0.375rem;
  transition: all 0.2s ease;
  padding: 2px 0.25rem;
  margin-right: 0.25rem;
}

/* Divider */
.search_dialog_divider {
  margin: 0 !important;
}

.search_results_related-item svg {
  font-weight: 400;
  color: #d1d5db;
}

/* Live Results */
.search-live-results {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: thin;
}

/* Footer */
.search-dialog-footer-link {
  color: #3b82f6;
  text-decoration: underline;
}

/* Media Queries */
@media (min-width: 768px) {
  .navbar-search-wrapper {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .navbar-search-wrapper--padding {
    padding-left: 0;
    padding-right: 0;
  }
}

.search_dialog-body {
  overflow-y: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #cbd5e1 #f1f5f9; /* For Firefox: Thumb color and track color */
}

.search_dialog-body::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
}

.search_dialog-body::-webkit-scrollbar-track {
  background: #f1f5f9; /* Light gray track */
}

.search_dialog-body::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* Darker gray thumb */
  border-radius: 4px; /* Rounded edges for thumb */
}

@media screen and (max-width: 667px) {
  .header_action {
    gap: 0.5rem;
  }

  .header_action > div:first-child {
    gap: 0.3rem;
  }
}

.notification_round_count {
  position: absolute;
  background: var(--global-red-color);
  border-radius: 100%;
  top: -8px;
  right: -8px;
  border: 2px solid white;

  width: 20px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  color: white;
}

#sizemugNavAddCoins,
#showAIModal {
  min-width: 110px;
  padding: 6px 3px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#sizemugNavAddCoins span,
#showAIModal span {
  white-space: nowrap;
  font-size: 13px;
}

.sizemug_navbar_action--plus {
  position: relative;
}

.sizemug_navbar_action--plus--dropdown {
  position: absolute;
  top: 2.5rem;
  right: 0;
  animation: Dropdown 0.4s ease;

  background: white;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  padding: 10px 8px;
  width: 160px;
  font-size: 0.8rem;
}

.sizemug_navbar_action--plus--dropdown li {
  padding: 6px 4px;
  border-radius: 5px;

  transition: background-color 0.3s ease;
}

.sizemug_navbar_action--plus--dropdown li:not(:last-child) {
  margin-bottom: 10px;
}

.sizemug_navbar_action--plus--dropdown li:hover {
  background: var(--border-color);
}

#sizemugNavbarActionPlus ul {
  display: none;
}

#sizemugNavbarActionPlus[aria-expanded="true"] ul {
  display: block;
}
