.sizemug_experience {
  position: fixed;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 1rem;
  bottom: 15px;
  right: 15px;
  background: white;

  width: 430px;
  z-index: 999999;
  box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
}

.sizemug_experience .heading {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.sizemug_experience .heading h3 {
  font-weight: 700;
  font-size: 1.1rem;
  color: #101828;
}

.sizemug_experience .heading button {
  width: 30px;
  height: 30px;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;

  background: #7e869e50;
}

.sizemug_experience p {
  color: #667085;
  font-size: 0.9rem;
  padding: 10px 0;
}

.sizemug_experience .navigate_exp_button {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  background: #8837e9;
  color: white;
}

.sizemug_experience .navigate_exp_button:disabled {
  background: #8737e94b;
}

.ratings {
  padding-bottom: 10px;
}

.ratings_emojis {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ratings_emojis div {
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background: #66708543;
}

.ratings_emojis span {
  width: 50px;
}

.ratings_emojis span#ratingLess5.active svg path {
  fill: #e42a09;
}

.ratings_emojis span#ratingEqual5.active svg path {
  fill: #e49b09;
}

.ratings_emojis span#ratingGreater6.active svg path {
  fill: #18e409;
}

.ratings .ratings_idea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #667085;
  font-size: 0.9rem;
}

.ratings .counts {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  padding: 7px 0;
}

.ratings .counts span {
  border: 2px solid #6670852a;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #333333;
  font-weight: 600;
  transition: all 0.2s ease;
}

.ratings .counts span:hover {
  border: 2px solid #14171d;
}

.ratings .counts span.selected {
  border: 2px solid #8837e9;
  background: #8837e9;
  color: white;
}

.sizemug_experience--2 {
  padding: 1rem 0;
}

.sizemug_experience--2 h4 {
  font-size: 0.9rem;
  color: #101828;
  padding-bottom: 10px;
  font-weight: 600;
}

.sizemug_experience--2 textarea {
  border: 1px solid #eaecf0;
  border-radius: 15px;
  background: #f8fafc;
  color: #101828;
  resize: none;

  padding: 10px;
  height: 7rem;
  width: 100%;
  transition: all 0.3s ease;
}

.sizemug_experience--2 textarea:focus {
  background: #f5f5f561;
}

@media screen and (max-width: 667px) {
  .sizemug_experience {
    padding: 0.6rem;
    bottom: 5.5rem;
    width: 95%;
    margin: 0 auto;
  }

  .sizemug_experience .heading button {
    min-width: 30px;
  }

  .sizemug_experience .heading h3 {
    font-size: 1.3rem;
  }
}
