.custom_toast {
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 99999999999999;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 5px 10px;
  color: #ffff;
  border-radius: 7px;
  animation: Toast 0.3s ease;
  box-shadow: 0px 0px 2px #cacaca81;
}

@keyframes Toast {
  from {
    transform: translateX(20rem);
  }
  to {
    transform: translateX(0);
  }
}

.custom_toast.success {
  background: #039a5b;
}

.custom_toast.fail {
  background: #e50800;
}
