.what_on_your_mind_modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #34405480;
  z-index: 4000000;

  display: flex;
  justify-content: center;
  align-items: center;
}

.what_on_your_mind_container {
  background: white;
  border-radius: 10px;
  padding: 1rem;

  width: 40rem;
}

.what_on_your_mind_container h3 {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 10px;
}

.what_on_your_mind_container textarea {
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 0.7rem;

  color: #7b7b7b;
  scrollbar-width: none;
  resize: none !important;
  height: 150px;

  transition: background-color 0.3s ease-in-out;
}

.what_on_your_mind_container textarea:focus {
  outline: none;
  background: #f2f2f27c;
}

.what_on_your_mind_container footer {
  padding-top: 1rem;

  display: flex;
  align-items: center;
  gap: 10px;
}

.what_on_your_mind_container footer button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.what_on_your_mind_container footer button:first-child {
  border: 1px solid var(--border-color);
}

.what_on_your_mind_container footer button:last-child {
  background: black;
  color: white;
}
