:root {
  --badge_red: #f43f5e;
  --follow: #1c64f2;
  --badge_def: #344054;
  --text-normal: #2d3648;
  --text-success: #12b76a;
  --text-error: #f04438;
  --text-warning: #f79009;
  --live-bg: #8837e9;
}

[x-cloak] {
  display: none !important;
}

body {
  overflow: hidden !important; /* Important for layout */
}

.content_area {
  box-sizing: border-box;
  overflow: hidden;
  height: calc(100dvh - var(--header-nav-height));
}

.creator_profile {
  margin: 0px;
  width: 100%;
  overflow: hidden;
  padding: 0px;
}

.creator_profile-content {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;

  /* max-height: 70rem; */
  gap: 10px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media not all and (min-width: 640px) {
  .creator_profile-content {
    flex-direction: column;
  }
}

.creator_profile-content > aside {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  width: 272px;
  flex-direction: column;
  gap: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0px;
  padding-bottom: 0px;
}

@media not all and (min-width: 640px) {
  .creator_profile-content > aside {
    width: 100%;
  }
}

.creator_profile-content > aside .creator_profile-img {
  position: relative;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;

  width: 16rem;
  height: 16rem;

  border-radius: 0.75rem;
  border-width: 4px;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  overflow: hidden;

  margin-top: -5rem;
}

.profile-photo-container-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;
  justify-content: center;
  align-items: center;
  background: #0000002c;
}

.profile-photo-container-overlay .profilePhotoInput {
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000e6;
  border-radius: 100%;
  cursor: pointer;
}

/************************************************ Creator / Visitor / Actions *****************************************************/
.visitor_quick_action > div {
  display: flex;
  gap: 4px;
}

.visitor_quick_action > div:last-child {
  padding-top: 8px;
}

.visitor_quick_action > div button,
.visitor_quick_action > div a {
  width: 100%;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 7px 0;
}

.visitor_quick_action > div button.profile-options {
  width: 50px;
  border: 1px solid var(--border-color);
  padding: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.visitor_quick_action > div a.message {
  border: 1px solid var(--border-color);
  background: white;
  transition: all 0.4s ease;
  text-align: center;
}

.visitor_quick_action > div button.follow {
  border: none;
  background: #1c64f2;
  color: white;
}

.visitor-action button.profile-options {
  position: relative;
}

.visitor-action button[aria-expanded="false"] ul.visitor-options,
.visitor-action button[aria-expanded="true"] > svg:first-child,
.visitor-action button[aria-expanded="false"] > svg:nth-child(2) {
  display: none;
}

.visitor-action button[aria-expanded="true"] ul.visitor-options,
.visitor-action button[aria-expanded="false"] > svg:first-child,
.visitor-action button[aria-expanded="true"] > svg:nth-child(2) {
  display: block;
}

.visitor-action button ul.visitor-options {
  position: absolute;
  top: 3rem;
  left: 0;

  border: 1px solid var(--border-color);
  border-radius: 0.8rem;
  background: white;

  padding: 0.3rem 0;
  width: 9rem;
  box-shadow: var(--global-box-shadow);
}

.visitor-action button ul.visitor-options li {
  padding: 0.3rem 0.5rem;
  transition: background-color 0.3s ease-in-out;

  display: flex;
  align-items: center;
  gap: 8px;
  color: #363853;

  font-size: 0.8rem;
  font-weight: 500;
}

.visitor-action button ul.visitor-options li:hover {
  background: var(--border-color);
}

.creator_profile-img:hover .profile-photo-container-overlay {
  display: flex;
}

@media not all and (min-width: 640px) {
  .creator_profile-content > aside .creator_profile-img {
    height: 5rem;
  }
}

.creator_profile-content > aside .creator_profile-img img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

/************************************************ SOCIAL LIST *****************************************************/
.contact_info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-item-holder {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
}

.social-item-holder .social-list {
  display: none !important;
  width: 100%;
  background: #fafafc;
  padding: 10px;
  border-radius: 10px;

  font-style: normal;
}

.social-item-holder .social_early {
  display: flex !important;
}

.social-item-holder[data-info="true"] .social-list {
  display: flex !important;
}

.social-item-holder[data-info="true"] .social_early {
  display: none !important;
}

.social-item-holder.add-show .social-list {
  display: flex !important;
}

.social_early {
  border: 1px solid var(--border-color);
  border-radius: 20px;
  padding: 5px 8px;

  display: flex;
  align-items: center;
  gap: 7px;
  width: 100%;
}

.social_early p {
  color: #8837e9;
  font-weight: 500;
}

.social_early .add-icon {
  margin-left: auto;
}

.social_account_items {
  display: flex;
  align-items: center;
  gap: 1.1rem;

  margin-top: 10px;
}

.creator_profile-content > aside .creator_profile-scrollable {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.6rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.creator_profile-content > aside .creator_profile-scrollable .creator_profile-details {
  order: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

@media not all and (min-width: 640px) {
  .creator_profile-content > aside .creator_profile-scrollable .creator_profile-details {
    order: 2;
  }
}

.creator_profile-content > aside .creator_profile-scrollable .creator_profile-details-description {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
}

.creator_profile-content > aside .creator_profile-scrollable .creator_profile-details-description .cpdd {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.creator_profile-content > aside .creator_profile-scrollable .creator_profile-details-description .cpdd h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.creator_profile-content > aside .creator_profile-scrollable .creator_profile-details-following_followers {
  display: flex;
  gap: 0.5rem;
}

.creator_profile-content > aside .creator_profile-scrollable .creator_profile-details-following_followers a {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;

  background: linear-gradient(to top right, #f5f5f5a5, #eaeaea88);
}

.creator_profile-content > aside .creator_profile-scrollable .creator_profile-details-following_followers a span:first-child {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: var(--live-bg);
}

.creator_profile-content > aside .creator_profile-scrollable .creator_profile-details-following_followers a span {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.creator_profile-content > aside .creator_profile-scrollable .social {
  order: 2;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  font-style: normal;
}

@media not all and (min-width: 640px) {
  .creator_profile-content > aside .creator_profile-scrollable .social {
    order: 3;
  }
}

.creator_profile-content > aside .creator_profile-scrollable .social > h3 {
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  --tw-text-opacity: 0.4;
}

.creator_profile-content > aside .creator_profile-scrollable .social-list {
  margin: 0px;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  padding: 0px;
}

.creator_profile-content > aside .creator_profile-scrollable .social-list > a {
  --tw-text-opacity: 1;
  color: rgb(28 100 242 / var(--tw-text-opacity));
}

.social-list-item {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 0.75rem;
}

.social-list-item .contact-group {
  display: flex;
  flex-direction: column;
}

.social-list-item .contact-group h3 {
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #344054;
}

.social-list-item .contact-group > span {
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #667085;
}

.creator_profile-content > aside .creator_profile-scrollable .wc_ade_epr {
  order: 3;
  margin: 0px;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

@media not all and (min-width: 640px) {
  .creator_profile-content > aside .creator_profile-scrollable .wc_ade_epr {
    order: 1;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.creator_profile-content > aside .creator_profile-scrollable .wc_ade_epr > a {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  border-radius: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media not all and (min-width: 640px) {
  .creator_profile-content > aside .creator_profile-scrollable .wc_ade_epr > a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.creator_profile-content > aside .creator_profile-scrollable .wc_ade_epr .wallet-coin {
  background-color: var(--live-bg);
}

@media not all and (min-width: 640px) {
  .creator_profile-content > aside .creator_profile-scrollable .wc_ade_epr .wallet-coin {
    order: 1;
  }
}

.creator_profile-content > aside .creator_profile-scrollable .wc_ade_epr .advance-editor {
  position: relative;
  overflow: hidden;
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

@media not all and (min-width: 640px) {
  .creator_profile-content > aside .creator_profile-scrollable .wc_ade_epr .advance-editor {
    order: 3;
    grid-column: span 2 / span 2;
  }
}

.creator_profile-content > aside .creator_profile-scrollable .wc_ade_epr .advance-editor span {
  z-index: 10;
  font-family: "Kaushan Script", cursive;
}

.creator_profile-content > aside .creator_profile-scrollable .wc_ade_epr .advance-editor::before {
  position: absolute;
  top: 15%;
  height: 6rem;
  width: 66.666667%;
  border-radius: 50%;
  background-color: var(--live-bg);
  --tw-blur: blur(16px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  content: "";
}

.creator_profile-content > aside .creator_profile-scrollable .wc_ade_epr .advance-editor:hover::before {
  width: 83.333333%;
}

.creator_profile-content > aside .creator_profile-scrollable .wc_ade_epr .edit-profile {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

@media not all and (min-width: 640px) {
  .creator_profile-content > aside .creator_profile-scrollable .wc_ade_epr .edit-profile {
    order: 2;
  }
}

.creator_profile-content > main {
  height: initial;
  overflow: hidden;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.initial-creator-layout {
  height: -webkit-fill-available;
  overflow: hidden;
  z-index: 0 !important;
}

.creator_profile-content > main section.tabs {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  gap: 0.5rem;
  border-bottom-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity));
  padding-top: 0.5rem;
}

@media not all and (min-width: 1024px) {
  .creator_profile-content > main section.tabs {
    flex-direction: column;
  }
}

.creator_profile-content > main .tabs-panel .up-list {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.custom-gallery-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.5rem;
  padding: 0.5rem;
}

@media (min-width: 640px) {
  .custom-gallery-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .custom-gallery-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .custom-gallery-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.75rem;
  }
}

@media (min-width: 1280px) {
  .custom-gallery-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .custom-gallery-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
