.check_coin_balance_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.check_coin_balance_container {
  background: #11131a;
  border-radius: var(--radius-md);
  padding: 1rem;

  width: 25rem;
}

.check_coin_balance_container header {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1rem;
}

.check_coin_balance_container header div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.check_coin_balance_container footer {
  width: 100%;
}

.check_coin_balance_container footer button.back {
  width: 100%;
  padding: 10px;
  border-radius: var(--radius-md);
  border: 1px solid #444954;
  font-weight: 600;
}

.balance_display_container {
  background: linear-gradient(to right, #ffa800, #ffc838);
  border-radius: var(--radius-md);
  padding: 1rem;

  margin: 1rem 0;
}

.balance_display_container > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.balance_display_container .current_amount {
  font-size: 16px;
  font-weight: 500;
}

.balance_display_container .current_amount button.eye svg:first-child,
.balance_display_container .current_amount button.eye[aria-hidden="true"] svg:last-child {
  display: block;
}

.balance_display_container .current_amount button.eye svg:last-child,
.balance_display_container .current_amount button.eye[aria-hidden="true"] svg:first-child {
  display: none;
}

.balance_display_container .balance_display h1 {
  font-weight: 800;
  font-size: 2rem;
}
