.live-skeleton-wrapper {
  height: 100dvh;
  overflow: hidden;
}

.live-skeleton-nav {
  height: var(--header-nav-height);
  border-bottom: 1px solid #e5e7eb;

  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding: 10px 2rem;
}

.live-skeleton-nav > div:nth-child(2) {
  grid-column: span 2;
}

.live-skeleton-nav > div:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.live-skeleton-nav > div:last-child > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.live-skeleton-nav .profile_skeleton,
.live-skeleton-nav .action_skeleton {
  width: 2.7rem;
  height: 100%;
  border-radius: 100%;
}

.live-skeleton-nav .action_skeleton {
  border-radius: 8px;
}

.skeleton-sm {
  width: 50%;
}

.skeleton-md {
  width: 60%;
}

.skeleton-full {
  width: 100%;
}

.live-skeleton-main {
  height: calc(100dvh - var(--header-nav-height));
  display: flex;
}

.live-skeleton-aside {
  min-width: 17.5rem;
  height: calc(100dvh - var(--header-nav-height));
  padding: 0.75rem;
  transition: width 0.15s ease;
  border-right: 1px solid #f1f1f1;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.live-skeleton-aside-bordered {
  min-height: 100%;
  border-radius: 1rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  border: 1px solid #f1f1f1;
}

.live-skeleton-aside-bordered .aside-skeleton-outer {
  padding: 0.8rem;
  min-height: 15rem;
  border-bottom: 1px solid #f1f1f1;

  display: flex;
  flex-direction: column;
}

.live-skeleton-aside-bordered .aside-skeleton-outer:last-child {
  border-bottom: none;
}

.aside-skeleton-nested {
  height: 100%;
  width: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.aside-skeleton-nested > div:first-child {
  height: 2rem;
  width: 45%;
}

.aside-skeleton-nested > div:last-child {
  width: 100%;
  height: 100%;
  margin-top: 5px;
  flex-grow: 1;
}

/* Main Skeleton */
.live-skeleton-main-inner {
  padding: 1rem;
  width: 100%;
}

.live-skeleton-main-inner .main-inner-top {
  padding-bottom: 0.8rem;
  width: 100%;

  border-bottom: 1px solid #f1f1f1;

  display: flex;
  gap: 5rem;
}

.live-skeleton-main-inner .main-inner-top .top-right-skeleton {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.live-skeleton-main-inner .main-inner-top .top-right-skeleton > div:first-child {
  height: 2.5rem;
  width: 20%;
}

.live-skeleton-main-inner .main-inner-top .top-right-skeleton > div:nth-child(2) {
  height: 2.5rem;
  width: 30%;
}

.live-skeleton-main-inner .main-inner-top .top-right-skeleton > div:last-child {
  display: flex;
  gap: 5px;
  height: 3rem;
}

.live-skeleton-main-inner .main-inner-top .top-right-skeleton > div:last-child > div {
  flex-grow: 1;
  height: 100%;
}

.live-skeleton-main-inner .main-inner-top .top-left-skeleton {
  width: 25%;
  min-width: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.live-skeleton-main-inner .main-inner-top .top-left-skeleton > div {
  height: 2rem;
}

.live-skeleton-main-inner .main-inner-bottom {
  display: flex;
  padding: 0.8rem 0;
  height: 100%;
}

.live-skeleton-main-inner .main-inner-bottom > div {
  height: calc(100dvh - 17rem);
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.live-skeleton-main-inner .main-inner-bottom > div:first-child {
  width: 100%;
  flex-grow: 1;
  padding-right: 10px;
}

.live-skeleton-main-inner .main-inner-bottom > div:last-child {
  width: 24rem;
  border-left: 1px solid #f1f1f1;
  padding-left: 10px;
}

/* Grid */
.live-loading-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 10px;
}

.live-loading-grid-item {
  height: 14rem;
  width: 100%;
}

.live-loading-grid-item-head {
  width: 100%;
  height: 80%;
  border-radius: 10px;
}

.live-loading-grid-item-content {
  display: flex;
  gap: 6px;
  padding-top: 8px;
}

.live-loading-grid-item-content-profile {
  max-width: 2.5rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
  max-height: 2.5rem;
  border-radius: 100%;
}

.live-loading-grid-item-content-desc,
.live-loading-grid-item-content-title {
  width: 100%;
}

.live-loading-grid-item-content-title {
  height: 60%;
}

.live-loading-grid-item-content-desc {
  height: 40%;
  margin-top: 3px;
}
