.gift_modal_overlay {
  z-index: 10;
}

.live-add-stream-modal {
  position: absolute;
  inset: 0;
  margin: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.live-add-stream-modal .stream_send_gifts_modal_container {
  background: var(--live-bg-color);
}

/* Modal container */
.gift-modal {
  width: 450px;
  height: 324px;
  background: var(--modal-bg-color);
  border-radius: var(--radius-md);
  border: 1px solid var(--live-container-bg);
  padding: 15px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Header with title and primary action */
.bag-modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bag-modal__title {
  font-size: var(--text-size-md);
  font-weight: 700;
  color: var(--text-primary-color);
}

.bag-modal__add-btn {
  background: #ff2d6c;
  color: #ffffff;
  border: none;
  padding: 6px 8px;
  border-radius: var(--radius-sm);
  font-size: 0.875rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 4px;
}

#emptyGiftContainer {
  height: 100%;
  background: var(--live-container-bg);
  border-radius: var(--radius-sm);
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: var(--text-primary-color);
}

#emptyGiftContainer p {
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}

#emptyGiftContainer button {
  color: var(--sg-gift-color);

  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 600;
}

#gridGiftContainer {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

#gridGiftContainer .gift-item {
  background: var(--live-container-bg);
  border-radius: var(--radius-md);
  padding: 10px 4px;

  position: relative;
}

#gridGiftContainer .gift_item_coin {
  position: absolute;
  top: 5px;
  right: 5px;

  background: var(--modal-bg-color);
  border-radius: var(--radius-sm);
  padding: 3px 5px;

  display: flex;
  align-items: center;
  gap: 4px;
  font-size: var(--text-size-sm);
}

#gridGiftContainer .gift_item_coin img {
  width: 15px;
  height: 15px;
}

#gridGiftContainer .gift_item_coin span {
  font-weight: 700;
  font-size: var(--text-size-sm);
  background: linear-gradient(90deg, #ffa800 0%, #ffc838 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

#gridGiftContainer .gift-item__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding-top: 1rem;

  color: var(--text-primary-color);
  font-size: var(--text-size-sm);
  font-weight: 500;
}

#gridGiftContainer .gift-item__content > * {
  text-align: center;
  text-transform: capitalize;
}
