.spacer_clip_farm_container {
  height: calc(100dvh - 4.5rem);
}

.clip_farm_items_container {
  height: 100%;
  padding: 10px;

  animation: SlideRightOut 0.2s ease-in-out;
}

.clip_farm_items_container h1 {
  font-size: var(--text-size-lg);
  font-weight: 700;
  color: var(--text-primary-color);
  padding-bottom: 10px;
}

.clip_farm_items {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 0.7rem;

  overflow-y: auto;
  scrollbar-width: none;
  padding-bottom: 3rem;
}

.clip_farm_item {
  background: var(--live-container-bg);
  height: 300px;
  border-radius: var(--radius-md);
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.clip_farm_item header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clip_item_title {
  display: flex;
  align-items: center;
  gap: 5px;

  font-size: 14px;
  font-weight: 600;
}

.clip_item_footer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.clip_item_footer_thumbnail {
  width: 49px;
  height: 24px;
  border-radius: var(--radius-sm);
  overflow: hidden;
}

.clip_item_footer_thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clip_item_footer_details h2 {
  font-size: var(--text-size-md);
  font-weight: 400;

  margin: 0;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.clip_item_footer_details .stats {
  font-size: 0.9rem;
  font-weight: 300;
}

.clips_grid {
  height: 100%;
  width: 100%;
}

.clips_grid .clip {
  width: 100%;
  height: 100%;
  background: var(--modal-bg-color);
}

.clips_grid--1 .clip {
  border-radius: var(--radius-md);
}

.clips_grid--2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.clips_grid--3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.clips_grid--2 .clip:first-child,
.clips_grid--3 .clip:first-child {
  border-radius: var(--radius-md) 0 0 var(--radius-md);
}

.clips_grid--2 .clip:last-child,
.clips_grid--3 .clip:last-child {
  border-radius: 0 var(--radius-md) var(--radius-md) 0;
}

.clips_grid--4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.clips_grid--4 .clip:nth-child(1) {
  border-top-left-radius: var(--radius-md);
}

.clips_grid--4 .clip:nth-child(2) {
  border-top-right-radius: var(--radius-md);
}

.clips_grid--4 .clip:nth-child(3) {
  border-bottom-left-radius: var(--radius-md);
}

.clips_grid--4 .clip:nth-child(4) {
  border-bottom-right-radius: var(--radius-md);
}

.clips_grid--5 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}

.clips_grid--5 .clip:nth-child(1) {
  grid-column: 1 / 3; /* spans 2 columns */
  grid-row: 1 / 2;
}

.clips_grid--5 .clip:nth-child(2) {
  grid-column: 3 / 5; /* spans 2 columns */
  grid-row: 1 / 2;
}

.clips_grid--5 .clip:nth-child(3) {
  grid-column: 5 / 7; /* spans 2 columns */
  grid-row: 1 / 2;
}

.clips_grid--5 .clip:nth-child(4) {
  grid-column: 1 / 4; /* spans 3 columns */
  grid-row: 2 / 3;
}

.clips_grid--5 .clip:nth-child(5) {
  grid-column: 4 / 7; /* spans 3 columns */
  grid-row: 2 / 3;
}

.clips_grid--5 .clip:nth-child(1) {
  border-top-left-radius: var(--radius-md);
}

.clips_grid--5 .clip:nth-child(3) {
  border-top-right-radius: var(--radius-md);
}

.clips_grid--5 .clip:nth-child(4) {
  border-bottom-left-radius: var(--radius-md);
  border-bottom-right-radius: 0;
}

.clips_grid--5 .clip:nth-child(5) {
  border-bottom-right-radius: var(--radius-md);
}

.clips_grid--6 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}

.clips_grid--6 .clip:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.clips_grid--6 .clip:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.clips_grid--6 .clip:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.clips_grid--6 .clip:nth-child(4) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.clips_grid--6 .clip:nth-child(5) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.clips_grid--6 .clip:nth-child(6) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.clips_grid--6 .clip:nth-child(1) {
  border-top-left-radius: var(--radius-md);
}

.clips_grid--6 .clip:nth-child(3) {
  border-top-right-radius: var(--radius-md);
}

.clips_grid--6 .clip:nth-child(4) {
  border-bottom-left-radius: var(--radius-md);
}

.clips_grid--6 .clip:nth-child(6) {
  border-bottom-right-radius: var(--radius-md);
}

.clips_grid--7 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 5px;
}

.clips_grid--7 .clip:nth-child(1) {
  border-top-left-radius: var(--radius-md);
}

.clips_grid--7 .clip:nth-child(3) {
  border-top-right-radius: var(--radius-md);
}

.clips_grid--7 .clip:nth-child(4) {
  border-bottom-left-radius: var(--radius-md);
}

.clips_grid--7 .clip:nth-child(6) {
  border-bottom-right-radius: var(--radius-md);
}

.clips_grid--7 .clip--more {
  background: var(--live-container-darken) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: var(--text-size-md);
}

.clip_farm_item_full_details {
  animation: SlideLeftIn 0.2s ease-in-out;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.clip_farm_item_full_details {
  padding: 10px;
}

.back_to_clip_full_lists {
  background: var(--live-container-bg);
  width: 50px;
  height: 50px;
  border-radius: var(--radius-full);

  display: flex;
  justify-content: center;
  align-items: center;
}

.clip_farm_item_full_details header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.clip_farm_item_full_details .clip_detail_title {
  display: flex;
  align-items: center;
  gap: 13px;
}

.clip_farm_item_full_details h2 {
  font-size: var(--text-size-lg);
  font-weight: 600;
}

.clip_farm_item_full_details .stats {
  font-size: var(--text-size-md);
}

.clip_media_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  justify-content: start;
}

.clip_media_grid.aside_media_grid {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  max-height: 100%;
  justify-content: start;
}

.aside_clips_slider--content {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;

  display: flex;
  flex-direction: column;
  gap: 15px;

  padding: 10px;
  padding-bottom: 3rem;
}

.aside_clips_slider--content::-webkit-scrollbar {
  display: none;
}

.clip_media_item {
  background: var(--live-container-bg);
  border-radius: var(--radius-md);
  overflow: hidden;
  position: relative;

  height: 158px;
}

.clip_media_tools {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.clip_media_tools .clip_media_options {
  position: absolute;
  right: 10px;
  top: 4px;
}

.clip_media_tools time {
  position: absolute;
  left: 10px;
  top: 4px;
  font-size: var(--text-size-sm);
  background: #00000040;
  border-radius: var(--radius-sm);
  padding: 3px 8px;
}

.clip_media_tools .play_media {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
