.live_room_modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #34405480;
  z-index: var(--overlay-z-index);
  animation: Modal 0.3s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
}

.live_room_container {
  width: 77rem;
  height: 80dvh;
  background: var(--modal-bg-color);
  border-radius: 15px;
  padding: 1rem;
  padding-bottom: 0;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.live_room_container header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.live_room_container header .room_modal_title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 700;
}

.live_room_container .live_categories {
  padding-right: 0 !important;
}

.live_room_modal_grid {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
