#liveMainContainer {
  padding: 1rem !important;
  overflow: hidden;
  overflow-y: auto;
}

.linear-group .filter_golive {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.linear-group .filter_golive .filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.linear-group .filter_golive .go_live {
  border-width: 0px;
  border-style: none;
}

.tbtn {
  border-radius: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #2563eb;
  color: #ffffff;
}

.linear-group .filter_golive .filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: #e5e7eb;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.linear-group .filter_golive .filter::before {
  height: 0.75rem;
  width: 1rem;
  background-image: url(../../images/filter.svg);
  content: var(--tw-content);
  color: rgb(0 0 0 / var(--tw-text-opacity));
  content: "";
}

.linear-group .filter_golive .filter .label {
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

.linear-group .filter_golive .filter .badge {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.go-live-overlay,
.interest-live-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #34405480;
  z-index: var(--overlay-z-index);

  display: flex;
  justify-content: center;
  align-items: center;
}

.live-hidden {
  display: none !important;
}
