.ff-page-header {
  order: 0;
  display: flex;
  width: 100%;
  gap: 2rem;
  padding: 0px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media not all and (min-width: 1024px) {
  .ff-page-header {
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .ff-page-header {
    align-items: center;
  }
}

.ff-page-header .ff-ads {
  position: relative;
  order: 0;
  width: 100%;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

@media not all and (min-width: 640px) {
  .ff-page-header .ff-ads {
    height: 6rem;
  }
}

@media (min-width: 640px) {
  .ff-page-header .ff-ads {
    height: 9rem;
  }
}

@media (min-width: 1024px) {
  .ff-page-header .ff-ads {
    order: 1;
  }
}

.ff-page-header .ff-ads > img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.ff-page-header .ff-ads .ads-label {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.ff-page-header .ff-ads .ads-close {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
  display: flex;
  height: 1.5rem;
  width: 1.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.ff-page-header .ff-ads .ads-close > i {
  font-size: 1rem;
  line-height: 1.5rem;
}

.ff-page-header .ff-ctrl {
  justify-content: space-between;
  gap: 0.75rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1000ms;
}

.ff-page-header .ff-ctrl .ff-current-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1.25rem;
}

@media not all and (min-width: 640px) {
  .ff-page-header .ff-ctrl .ff-current-page {
    align-items: center;
  }
}

@media (min-width: 640px) {
  .ff-page-header .ff-ctrl .ff-current-page {
    justify-content: flex-start;
  }
}

.ff-page-header .ff-ctrl .ff-switch {
  display: flex;
  width: 100%;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
}

@media not all and (min-width: 640px) {
  .ff-page-header .ff-ctrl .ff-switch {
    justify-content: center;
  }
}

.ff-page-header .ff-ctrl .ff-switch .switch-btn {
  display: flex;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (min-width: 640px) {
  .ff-page-body .ff-search-note {
    flex-direction: row;
  }
}

.ff-page-body .ff-search-note .new_filter {
  display: flex;
  gap: 0.75rem;
}

.ff-page-body .ff-search-note .new_filter button.ff-note {
  order: 0;
  border-radius: 9999px;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.ff-page-body .ff-search-note .new_filter button.ff-note:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.ff-page-body .ff-search-note .new_filter button.ff-note:active {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.ff-page-body .ff-search-note .new_filter .filter-container {
  position: relative;
  display: inline-block;
  text-align: left;
}

.ff-page-body .ff-search-note .new_filter .filter-container .filter-btn {
  order: 1;
  display: inline-flex;
  width: 100%;
  align-items: center;
  -moz-column-gap: 0.375rem;
  column-gap: 0.375rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  --tw-ring-inset: inset;
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(209 213 219 / var(--tw-ring-opacity));
}

.ff-page-body .ff-search-note .new_filter .filter-container .filter-btn:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.ff-page-body .ff-search-note .new_filter .filter-container .filter-panel {
  position: absolute;
  right: 0px;
  z-index: 10;
  margin-top: 0.5rem;
  width: 14rem;
  transform-origin: top right;
  overflow: hidden;
  border-radius: 1.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  --tw-ring-color: rgb(0 0 0 / var(--tw-ring-opacity));
  --tw-ring-opacity: 0.05;
}

.ff-page-body .ff-search-note .new_filter .filter-container .filter-panel:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.ff-page-body .ff-search-note .new_filter .filter-container .filter-panel a {
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.ff-page-body .ff-search-note .new_filter .filter-container .filter-panel a:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
