.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #090909;
  color: #fff;
}
.header .logo {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
}

.header .logo img {
  width: 40px;
  height: 40px;
}

.header .logo span {
  font-size: 24px;
  font-weight: 600;
}
.header .header-right {
  display: flex;
  gap: 1rem;
}

.header .head-button {
  background: #8837e9 !important;
}

.buttons .create-btn {
  color: #8837e9;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #8837e9;
}

md-input-container:not(.md-input-invalid).md-input-focused label {
  color: #8837e9;
}
a.md-button.md-primary.md-raised,
a.md-button.md-primary.md-fab,
.md-button.md-primary.md-raised,
.md-button.md-primary.md-fab {
  background-color: #8837e9;
}

md-input-container label,
md-input-container .md-placeholder {
  color: rgba(0, 0, 0, 0.26);
}

md-input-container .md-input {
  color: rgba(0, 0, 0, 0.26);
  border-color: rgba(0, 0, 0, 0.26);
}
a.md-button.md-primary.md-raised:not([disabled]):hover,
a.md-button.md-primary.md-fab:not([disabled]):hover,
.md-button.md-primary.md-raised:not([disabled]):hover,
.md-button.md-primary.md-fab:not([disabled]):hover {
  background-color: #8837e9;
}

@media (max-width: 500px) {
  .head-button span {
    display: none;
  }

  .head-button img {
    height: 32px;
    width: 32px;
    margin: auto !important;
    /* padding-left: 0.5rem; */
  }

  .header .md-button {
    padding: 0 0.5rem !important;
    margin: auto !important;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.filter-image figcaption {
  color: #fff !important;
}

.account {
  cursor: pointer;
  overflow: hidden;
}

.hidden-modal {
  display: none;
}

#show_header_modal {
  cursor: pointer;
}

.header_modal_content {
  z-index: 100;
}

#show_header_modal {
  cursor: pointer;
}

.header_modal {
  width: 100%;
  height: 90vh;
  position: absolute;
  z-index: 100;
  overflow-x: scroll;
  font-family: Inter, sans-serif;
}

.language-modal .language-option {
  position: absolute;
  right: 2rem;

  top: 4rem;
  width: 32rem;

  height: 360px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 32px 64px -12px rgba(0, 0, 0, 0.4);
  padding: 0 !important;
  margin: 0 !important;
  overflow-x: hidden;
}
.language-option .search {
  width: 95%;
  padding: 6px;
  border-radius: 0;
  margin: 1rem;
  display: flex;
  gap: 0.5rem;
  background: rgba(246, 246, 246, 1);
}

.language-option .search input {
  width: 100%;
  background: rgba(246, 246, 246, 1);
  border: none;
}
.language-option {
  overflow-y: scroll;
}

.language-modal .language-option ul {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.language-option::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar width */
  /* background: transparent; Make scrollbar track transparent */
}
.language {
  cursor: pointer;
  padding-right: 0.5rem;
}

.language-color {
  color: #8837e9;
}

.language-option ul li {
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  width: 100%;
  align-items: center;
}
.language-option ul li.selected {
  justify-content: space-between;
}

.language-option ul li .selected-element {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header_modal_content {
  position: absolute;
  right: 2rem;

  width: 28rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #ffffff;
  border-radius: 1rem;
  box-shadow: 0px 32px 64px -12px rgba(0, 0, 0, 0.4);
}
@media (min-width: 791px) and (max-width: 800px) {
  .header_modal_content {
    top: 41rem;
  }
}

@media (min-width: 765px) and (max-width: 790px) {
  .header_modal_content {
    top: 33rem;
  }
}

@media (min-width: 801px) and (max-width: 850px) {
  .header_modal_content {
    top: 38rem;
  }
}
.switch-content hr {
  margin-top: 0;
  margin-bottom: 0;
}
.switch-content {
  position: absolute;
  right: 1.5rem;
  top: 2rem;
  width: 27rem;

  background: #ffffff;
  border-radius: 1rem;
  box-shadow: 0px 32px 64px -12px rgba(0, 0, 0, 0.4);
}

.switch-content .switch_header {
  display: flex;

  justify-content: space-between;
  padding: 5px 6px;
  align-items: center;
}

.switch-content .close-switch {
  position: relative;
  cursor: pointer !important;
}
#close {
  cursor: pointer;
}

.switch-content .switch_header .switch-left {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.switch-content .switch_header .switch-left span {
  font-size: 1.65rem;
}

.switch-content .switch-footer {
  padding: 1rem;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.switch-content .switch-footer button {
  width: 19.68rem;
  height: 3rem;
  background: #8837e9;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
}

.account-modal {
  height: 27.5rem;
}

.switch-content .switch-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.switch-content .switch-body img {
  width: 2.25rem;
  height: 2.25rem;
}
.switch-content .switch-body .switch-left {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.switch-content .switch-body .switch-left .avater-desc {
  display: flex;
  flex-direction: column;
}

.switch-content .switch-body .switch-left h3 {
  font-size: 1.75rem;
  font-weight: 500;
  color: #344054;
  margin-top: 10px;
  margin-bottom: 0;
}

.switch-content .switch-body .switch-left span {
  color: #878f9d;
}

.switch-content .switch-body .switch-counter {
  background: #ff6363;
  color: #ffffff;
  width: 2.25rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.switch-content .switch-body .switch-counter-wide {
  width: 3rem;
}
.language {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}
@media (min-width: 300px) and (max-width: 325px) {
  .header_modal .header_list {
    display: flex;
    align-items: center;
    height: 2rem !important;
    /* justify-content: center; */
    font-size: 0.75rem !important;
    font-weight: 500;
    padding: 0 0.5rem !important;
    cursor: pointer;
  }

  .header_modal img {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }
}
@media (max-width: 600px) {
  /* .header_modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0 !important;
    top: auto;
    left: 0;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  } */
  .header_modal.hide-list {
    display: none !important;
  }
  /* .header_modal_content {
    width: 100%;

    z-index: 10;
    position: static;
  }
  .switch-content {
    width: 100%;

    position: static;
  }
  .switch-content .switch-footer button {
    width: 100%;
  } */
}

/* @media (min-width: 300px) and (max-width: 320px) {
  .header_modal {
    width: 100%;
    top: 0;
    right: 0;
  }
} */
.header_modal img {
  width: 2.75rem;
  height: 2.75rem;
  margin-right: 0.25rem;
}
.header_modal hr {
  margin: 0;
}
.header_modal .head {
  padding: 1rem;
  margin: 0.75rem;
  background: #f6f6f6;
  border-radius: 0.4rem;
  height: 9rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.75rem;
}
.header_modal .header_list a {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.4rem;
  text-decoration: none;
}
.header_modal .header_list {
  display: flex;
  align-items: center;
  height: 3rem;
  /* justify-content: center; */
  font-size: 1rem;
  font-weight: 500;
  padding: 0 0.75rem;
  cursor: pointer;
  margin-left: 0.25rem;
}

.header_modal .holder_name {
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  align-items: center;
}

.header_modal .holder_name span {
  font-size: 1.75rem;
}
.header_modal .holder_assest {
  display: flex;
  align-items: center;

  height: 2.5rem;
  gap: 0.75rem;
}

.header_modal .holder_assest span {
  color: #ffc838;
}
.header_modal .holder_assest p {
  margin: 0;
}
.notification-header {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header_list h3 {
  font-size: 1.65rem;
  color: #090909;
  margin: 0;
  font-weight: 500 !important;
}

.get-verified {
  margin-left: 0.75rem !important;
}
.get-verified img {
  width: 2rem !important;
  height: 2rem !important;
}

.select-language {
  border: none !important;
}

.select-language a {
  padding: 0 0.5rem 1rem;
  width: 100%;
}

.select_language_dropdown form input {
  border: none !important;
}
