.active_calender_user {
  width: 100%;
  height: 4rem;
  overflow: hidden;
  overflow-x: auto;
  scrollbar-width: none !important;
  padding: 10px 0;

  display: flex;
  gap: 1rem;
}

.active_calender_user .active_item_skeleton {
  height: 3rem;
  min-width: 10rem;
  border-radius: 10px;
}

.active_calender_user .active_item {
  display: flex;
  align-items: center;
  gap: 6px;

  padding: 0 15px;
}

.active_calender_user .active_item > div {
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  overflow: hidden;
  border-radius: 100%;
}

.active_calender_user .active_item > div img {
  object-fit: cover;
}

.active_calender_user .active_item h4 {
  font-weight: 600;
  white-space: nowrap;
}

.event_intro_container {
  max-width: 30rem;
  width: 100%;
  height: 17rem;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.event_intro_container > div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

.year_slider_container {
  min-width: 3rem;
  width: 100%;
  height: 1rem;
  overflow: hidden;
  position: relative;
  color: var(--primary-color);
}

.month-container .year_slider_container {
  min-width: 4rem;
}

.year_slider_container li {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.25s ease-in-out, transform 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 0.7rem;
}

.active_user_info_modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #34405480;
  z-index: var(--overlay-z-index);

  display: flex;
  justify-content: center;
  align-items: center;
}

.active_user_info_modal .user_profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.active_user_info_modal .user_profile img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  box-shadow: var(--global-box-shadow);
}

.active_user_info_modal .user_profile h2 {
  font-weight: 600;
}

.active_user_info_modal .user_profile button {
  margin-left: auto;
}

.active-week-view-modal {
  position: static !important;
}

.see-all-invited {
  color: var(--primary-color);
  font-size: 13px;
}

.active_user_info_modal_wrapper {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.active_invited_container_slide {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;

  background: white;
  animation-duration: 0.4s;
  z-index: 100000000000;
}

.active_invited_container_slide .invite_slide_header {
  display: flex;
  align-items: center;
  justify-content: initial;
  gap: 10px;
  font-weight: 600;
}

.active-week-view-modal .active_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active_invited_container_slide .filter_invited {
  display: flex;
  align-items: center;
  background: #f3f4f6ca;
  border-radius: 5px;
  padding: 4px;
  gap: 7px;
}

.active_invited_container_slide .filter_invited input {
  width: 100%;
  background: none;
  font-size: 13px;
}

.active_invited_container_slide .invited_lists {
  height: auto;
  overflow-y: auto;
  scrollbar-width: none;

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
}

.active_invited_container_slide .invited_lists li {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 13px;
  background-color: #f3f4f6ca;
  border-radius: 6px;
  padding: 4px 5px;
}

.invited_lists li img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  object-fit: cover;
  pointer-events: none;
}

.active_invited_container_slide .invited_lists li button {
  margin-left: auto;
}

.active_invited_container_slide .invited_lists li button:hover svg path {
  stroke: #ff3a30d3;
}
