.hide-list {
  display: none;
}

#show_header_modal {
  cursor: pointer;
}

.header_modal img {
  width: 1.75rem;
  height: 1.75rem;
}
.header_modal hr {
  margin: 0;
}
.header_modal .head {
  padding: 0.5rem;
  margin: 0.5rem;
  background: #f6f6f6;
  border-radius: 0.4rem;
  height: 6rem;
}
.header_modal .header_list a {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.4rem;
}
.header_modal .header_list {
  display: flex;
  align-items: center;
  height: 3rem;
  /* justify-content: center; */
  font-size: 1rem;
  font-weight: 500;
  padding: 0 0.75rem;
  cursor: pointer;
}

.header_modal .holder_name {
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  align-items: center;
}

.header_modal .holder_assest {
  display: flex;
  align-items: center;
  height: 2.5rem;
  gap: 0.75rem;
}

.header_modal .holder_assest span {
  color: #ffc838;
}
*/ .notification-header {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.notification-nav {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.notification-nav .navs {
  border-radius: 25rem;
  border: 1px solid #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  cursor: pointer;
}

.notification-nav .all {
  width: 5.25rem;
}

.notification-nav .notification {
  width: 10.125rem;
}

.notification-nav .requests {
  width: 8.5rem;
}

.notification-nav .navs.checked {
  background: #000000;
  color: #ffffff;
}

.notification_main {
  width: 70%;
  min-height: 100vh;
  border-radius: 1rem;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  border: 1px solid #f1f1f1;
  z-index: 9999px;
}

.notification_main .noti-search {
  width: 22.625rem;
  height: 2.5rem;
  background: #f8f8f8;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  border-radius: 0.5rem;
}

.notification_main .noti-search input {
  background: #f8f8f8;
}

.notification_main .notification-list img {
  width: 3.375rem;
  height: 3.375rem;
  border-radius: 8px;
}

@media (max-width: 550px) {
  .notification_main .notification-list img {
    width: 2.56rem;
    height: 2.56rem;
  }

  .notification-list .list .right-img {
    display: none;
  }

  .notification-list .right-element {
    display: none;
  }

  .notification-list {
    /* padding-bottom: 5rem; */
    overflow-y: scroll;
  }
}

.Ad {
  cursor: pointer;
}

.notification-list .list {
  position: relative;
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.for-right-margin {
  margin-right: 1rem;
  position: relative;
}

.list .task-image {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  bottom: 0;
  right: 0;
  top: 2.5rem;
}

.list .for-live {
  right: 1.3rem !important;
  top: 3rem;
}

.list .task-image img {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
}

.list .task-image.for-live img {
  /* right: 2.5rem; */
  width: 1.5rem;
  height: 1.5rem;
  top: 2.8rem;
}
.live-img-right {
  position: relative;
}

.right-live img {
  position: absolute;
  right: 1rem;
  bottom: 0;
  width: 1.5rem !important;
  height: 1.5rem !important;
}
.list .recent-content {
  margin-left: 1rem;
}
.list img.left-user-photo {
  border-radius: 8px;
}
.list .right-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-img img {
  border-radius: 50% !important;
}
.list .right-img .task-img-right img {
  width: 2.5rem;
  height: 2.5rem;
}
.right-img img.user-photo {
  border-radius: 50%;
}
.right-img img.user-avatar {
  border-radius: 50% !important;
  z-index: -1;
}
.left-content img.user-avatar {
  border-radius: 50%;
}
.list .the-colored {
  color: #8837e9;
  font-size: 18px;
  font-weight: 500;
}
.list .the-blue-colored {
  color: #1c64f2;
  font-size: 1rem;
  font-weight: 700;
}

.list .the-buttons {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.list .the-buttons .list-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: #1c64f2;
  width: 120px;
  height: 41px;
  border-radius: 8px;
}
.list .the-buttons .list-buttons .the-vase-colored {
  color: rgba(255, 255, 255, 0.4);
}
.list .the-buttons .list-buttons .the-white-colored {
  color: #ffffff;
}
.list .the-buttons .list-buttons .the-orange-colored {
  color: #ffa800;
}
.notification-list .list .left-content {
  display: flex;
}
.notification-list .list .left-content .request-dot {
  margin-top: 1rem;
  margin-right: 1rem;
}
.notification-list h2 {
  padding: 1rem;
  font-weight: 600;
}
.notification-list .list .left-content .app_notification_m_content {
  overflow: hidden;
}

@media (min-width: 300px) and (max-width: 325px) {
  .notification-list .list .left-content .app_notification_m_content {
    width: 10rem;
  }
}
.notification-list .list .left-content .notification_follow_back {
  width: fit-content;
}
.notification-list .dot__separator {
  display: inline-block;
  vertical-align: middle;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 9999px;
  background: #6b728080;
  margin: 0 0.5rem;
}

.notification-list .send__time {
  color: #9ca3af;
}
.notification-list li.checked {
  background: rgba(28, 100, 242, 0.08);
}

.notification-list .wide-img img {
  width: 5.5rem;
}

#Notification {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
}
#Notification .advertisment {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 500px) {
  #Notification .advertisment {
    display: none;
  }

  #Notification .notification-list li.notification_message {
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
  }
}

@media (min-width: 300px) and (max-width: 325px) {
  .notification-header {
    padding: 0 1.5rem !important;
    margin-left: 1.5rem;
  }
  .notification-nav .all {
    width: 4rem;
  }
  .navs span {
    font-size: 14px;
  }
  .notification-nav .notification,
  .notification-nav .requests {
    width: 6.5rem !important;
  }
}

@media (min-width: 501px) and (max-width: 770px) {
  .advertise-one .ad-description button {
    width: 5rem !important;
  }
}

@media (min-width: 771px) and (max-width: 850px) {
  .advertise-one .ad-description button {
    width: 7rem !important;
  }
}
@media (max-width: 850px) {
  #Notification {
    display: flex;
    gap: 1.5rem;
    padding: 0;
    margin: 0.25rem;
  }
  .notification_main {
    width: 100%;
  }
  #Notification .advertisment {
    display: none;
  }

  #notification-page.content_area main {
    display: block;
    padding: 0;
  }

  .notification-header {
    padding: 0.25rem 1.5rem;
  }

  #Notification .advertise-two {
    height: 10rem !important;
  }
  .first-advertisment-skeleton {
    display: none;
  }
}

@media (min-width: 551px) and (max-width: 850px) {
  .notification-skeleton {
    margin-left: 1rem !important;
    margin-top: 1rem !important;
  }
  .first-advertisment {
    width: 378px !important;
    height: 146px !important;
    margin-right: 1rem;
    z-index: -1;
  }
  .first-advertisment .the-contents {
    width: 278px;
  }
  .first-advertisment .the-contents button {
    margin-top: 1rem !important;
  }
}

#Notification .advertise-one {
  position: relative;
  border: 1px solid #eaecf0;
  height: 14rem;
  overflow: hidden;
  border-radius: 1rem;
}
#Notification .advertise-two {
  height: 14rem;
}
#Notification .advertise-two img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: fill;
  /* object-fit: contain; */
}
.advertise-one .ad-background img {
  width: 100%;
  height: 4.76rem;
}
.advertise-one .ad-img img {
  width: 5.75rem;
  height: 5.75rem;
}
.advertise-one .ad-text {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  font-size: 0.875rem;
  padding: 0.25rem;
}
.advertise-one .ad-img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.advertise-one .ad-description {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;
  justify-content: center;
}

.advertise-one .ad-description span {
  font-size: 1.25rem;
  font-weight: 600;
}

.advertise-one .ad-description button {
  width: 8rem;
  height: 2.5rem;
  border: 1px solid #f1f1f1;
  border-radius: 0.75rem;
  margin: 0 5px;
}

.advertise-one .ad-description button.ad-follow {
  background: #1c64f2;
  color: #ffffff;
}

.advertise-two {
  position: relative;
}

.advertise-two .ad-text {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  font-size: 0.875rem;
  padding: 0.25rem;
}
.advertisement-description hr {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5rem;
}
.advertisement-description {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.advertisement-description img {
  width: 2rem;
  height: 2rem;
}

.advertisement-description .ad-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advertisement-description .ad-content {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.advertisement-description .ad-content p {
  font-size: 0.875rem;
  font-weight: 500;
}

.advertisement-description .ad-content span {
  font-size: 0.75rem;
}

.list .confirm-following-group button img {
  width: 1.7rem;
  height: 1.7rem;
}

.list .live-img img {
  width: 3.5rem;
  height: 4rem;
}
/* Ad modal */

#ad-modal hr {
  padding: 0;
  margin: 0;
}

#ad-modal .ad-modal-content {
  width: 20.68rem;
  height: 14rem;
  background: #ffffff;
  border-radius: 1rem;
}

.ad-modal-content .ad-header {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ad-modal-content .ad-header .close-ad {
  background: #f4f4f4;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.ad-modal-content .ad-header .close-ad img {
  width: 1.5rem;
  height: 1.5rem;
}

.ad-modal-content .ad-header span {
  font-size: 1rem;
  font-weight: 600;
}

.ad-modal-content .ad-bodys {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
}
.ad-modal-content .ad-bodys hr {
  margin-top: 0.5rem !important;
  margin-bottom: 1rem !important;
  margin-left: 2.5rem !important;
}

.ad-modal-content .ad-bodys img {
  width: 2rem;
  height: 2rem;
}

.ad-modal-content .ad-bodys span {
  font-size: 0.75rem;
  font-weight: 400;
  color: #475467;
}

.ad-modal-content .ad-bodys .ad-body {
  display: flex;
  justify-content: space-between;
}

.ad-modal-content .ad-bodys .ad-body .ad-content {
  display: flex;
  gap: 0.5rem;
}

/* Why am I seeing this ad modal  */
.ad-body,
.close-ad {
  cursor: pointer;
}
#Seeing hr {
  margin: 0;
  padding: 0;
}
#Seeing .why-modal-content {
  width: 20.68rem;
  height: 19rem;
  background: #ffffff;
  border-radius: 1rem;
}

.why-modal-content .ad-header {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.why-modal-content .ad-header .close-ad {
  background: #f4f4f4;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.why-modal-content .ad-header .close-ad img {
  width: 1.5rem;
  height: 1.5rem;
}

.why-modal-content .ad-header span {
  font-size: 1rem;
  font-weight: 600;
  color: #000000;
}

.why-modal-content .ad-body {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  color: #475467;
  font-size: 0.812rem;
  font-weight: 500;
}

.why-modal-content .ad-body .purple-text {
  color: #8837e9;
}

.ad-footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.ad-footer span {
  color: #475467;
  font-size: 0.812rem;
  font-weight: 500;
}

.ad-footer button {
  width: 3.125rem;
  height: 2.25rem;
  border: #d0d5dd 1px solid;
  border-radius: 0.5rem;
}

/* hide or report */
#hide-report-modal hr {
  margin: 0;
  padding: 0;
}
#hide-report-modal .hide-modal-content {
  background-color: #ffffff;
  width: 20.687rem;
  border-radius: 1rem;
}

.report-content {
  background: #ffffff;
  width: 44.81rem;
  height: 24.31rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
}
.report-content .ad-header {
  padding: 0;
}

.report-content .ad-header span {
  font-size: 2rem;
  font-weight: 700;
}
.report-content .report-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.report-content .report-body span {
  font-size: 1.5rem;
  font-weight: 700;
}

.report-content .report-body textarea {
  background: #f4f4f4;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  height: 11.06rem;
}

.report-content .report-footer button {
  width: 21.156rem;
  height: 2.5rem;
  border-radius: 0.75rem;
  border: 1px solid #f1f1f1;
}
.report-content .report-footer button.ad-clear {
  background: #f1f1f1;
}

.report-content .report-footer button.ad-send {
  background: #000000;
  color: #ffffff;
}

.notification-and-advertisiment {
  display: flex;

  justify-content: space-between;
  margin-bottom: 1rem;
}

.first-advertisment {
  position: relative;
  width: 454px;
  height: 132px;
  background: linear-gradient(90deg, #bd1a2f 10%, #460297 130%);
  color: #ffffff;
  border-radius: 8px;

  padding-left: 1rem;
  padding-top: 1rem;
}

@media (max-width: 550px) {
  #noti-header h2 {
    font-size: 2rem;
  }
  .notification-and-advertisiment {
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  .notification-header {
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 0 !important;
  }
  .notification-nav .notification {
    width: 7.5rem;
  }
  .notification-nav .requests {
    width: 7.5rem;
  }
  .first-advertisment {
    width: 95%;
    height: 100px;
    margin: auto;
    z-index: -1;
  }
  .first-advertisment .the-santa img {
    width: 77px;
    height: 82px;
  }
  .first-advertisment .the-contents h2 {
    font-size: 16px !important;
  }
  .first-advertisment .the-contents p {
    font-size: 10px !important;
  }
  .first-advertisment .the-contents button {
    margin-top: 0.5rem !important;
  }
  .first-advertisment .the-star img {
    right: 4rem !important;
  }
  .first-advertisment .the-candy-1 img {
    right: 7rem !important;
  }
}

.first-advertisment .the-contents {
  display: flex;
  flex-direction: column;
}
.first-advertisment .the-contents h2 {
  font-size: 20px;
  font-weight: 500;
}
.first-advertisment .the-contents p {
  font-size: 13px;
  font-weight: 300;
}
.first-advertisment .the-contents button {
  display: flex;
  width: 96px;
  height: 28px;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  color: #000000;
  border-radius: 24px;
  font-size: 10px;
  font-weight: 500;
  margin-top: 1.5rem;
}

.first-advertisment .the-contents button img {
  width: 1rem;
  height: 1rem;
}
.first-advertisment .the-candy-1 img {
  position: absolute;

  bottom: 0;
  right: 8rem;
}

.first-advertisment .the-candy-2 img {
  position: absolute;
  top: 0;
  right: 0;
}

.first-advertisment .the-santa img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.first-advertisment .the-star img {
  position: absolute;

  bottom: 0;
  right: 5rem;
}
@media (max-width: 850px) {
  #request-section .last-request {
    margin-bottom: 6rem;
  }
}
