/*Custom modal*/
.custom-modal {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 32px;

  position: relative;

  background: #ffffff;
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
}

.custom-modal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.custom-modal-header {
  width: 48px;
  height: 48px;
  position: relative;

  background: #fee4e2;
  border: 8px solid #fef3f2;
  border-radius: 28px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.custom-modal-header-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 16px;
  top: 16px;

  left: 8.33%;
  right: 8.33%;
  top: 8.33%;
  bottom: 8.33%;
}

.custom-modal-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.custom-modal-body-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;

  color: #101828;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.custom-modal-body-message {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: #667085;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.custom-modal-footer {
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.footer-cancel {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;
  gap: 8px;

  width: calc(50%);
  height: 44px;

  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  color: #344054;
}

.footer-delete:hover {
  border: 1px solid #b42318;
  background-color: #b42318;
}

.footer-delete {
  height: 44px;

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;

  border: none;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  width: calc(50%);

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Report Modal */

.report-popup {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 24px;

  background: #ffffff;
  border: 1px solid #eaecf0;
  box-shadow: 0px 32px 64px -12px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(100px);

  flex: none;
  order: 0;
  flex-grow: 0;
}

.report-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.report-content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  height: 42px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.report-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 100%;

  flex: none;
  order: 1;
  align-self: stretch;
}

.report-content-label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  text-align: center;

  color: #000000;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.popup-textarea {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 24px;
  gap: 8px;

  width: 100%;

  resize: none;

  background: #f4f4f4;
  border-radius: 8px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: rgba(54, 56, 83, 0.5);
}

.report-buttons {
  box-sizing: border-box;

  border-bottom: 1px solid #eaecf0;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.clear {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 8px;
  @apply w-1/2;

  background: #f4f4f4;
  border-radius: 12px;

  flex: none;
  order: 0;
  flex-grow: 1;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;

  color: #000000;
}

.save {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 8px;

  background: #000000;
  border: 1px solid #000000;
  border-radius: 12px;

  flex: none;
  order: 1;
  flex-grow: 1;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;

  color: #ffffff;
}

/* Loves and Likes */

.ff-items {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.ff-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  gap: 24px;

  width: 100%;
  height: 48px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.ff-item-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  height: 48px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.ff-item-group img {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;

  width: 48px;
  height: 48px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.user-profile-hidden {
  display: none !important;
}
