.message-modal-overlay {
  position: absolute;
  top: 4rem;
  left: 4rem;
  z-index: 1000;

  display: none;
}

.message-modal-overlay.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.message-modal {
  background-color: white;
  width: 100%;
  max-width: 350px;
  /* height: 450px; */
  border-radius: 12px;
  box-shadow: 0 2px 10px #0000000e;
  overflow: hidden;

  border: 1px solid var(--border-color);

  display: flex;
  flex-direction: column;
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  border-bottom: 1px solid var(--border-color);
}

.message-title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.message-close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.message-content {
  padding: 0;
  overflow-y: auto;
  flex-grow: 1;
  max-height: 50vh;
}

.message-content::-webkit-scrollbar {
  width: 4px;
}

.message-content::-webkit-scrollbar-thumb {
  background: #f0f0f07c;
  border-radius: 20px;
}

.message-item {
  display: flex;
  padding: 16px 20px;
  border-bottom: 1px solid #f0f0f0;
}

.message-item:last-child {
  border-bottom: none;
}

.message-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  margin-right: 12px;
  flex-shrink: 0;
}

.message-body {
  flex-grow: 1;
}

.message-body-partial {
  opacity: 0.7;
}

.message-user-info {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.message-username {
  font-weight: 600;
  font-size: 14px;
  color: #333;
}

.message-time {
  font-size: 12px;
  color: #888;
  margin-left: 8px;
}

.message-text {
  font-size: 14px;
  color: #333;
  line-height: 1.5;
  margin-bottom: 8px;
}

.message-actions {
  display: flex;
  align-items: center;
}

.message-likes {
  font-size: 12px;
  color: #666;
  margin-right: 16px;
}

.message-reply-btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #666;
  font-size: 12px;
  cursor: pointer;
  margin-right: 16px;
}

.message-reply-btn svg {
  margin-right: 4px;
}

.message-like-btn {
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.message-like-btn.active {
  color: #0d6efd;
}

.message-input-container {
  padding: 10px 12px;
  border-top: 1px solid var(--border-color);
}

.message-input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  font-size: 14px;
  background: #f4f4f4;
  color: #0d0d0db3;
}
