/* Modal container */
.xo-challenge-start-modal,
.xo_challenge_select_modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #34405480;
  z-index: var(--overlay-z-index);

  display: flex;
  justify-content: center;
  align-items: center;
}

.xo_challenge_container,
.xo_challenge_select {
  width: 38rem;

  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}
.xo-close-btn {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  cursor: pointer;
}
.xo_challenge_container header {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-family: 18px;
  font-weight: 600;
  padding: 1rem;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}
.xo_challenge_container footer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border-top: 1px solid #e0e0e0;
}

.xo_challenge_container footer button {
  padding: 0.7rem 1rem;
  font-weight: 500;
  border-radius: 12px;
  width: 256px;
  font-size: 18px;
  cursor: pointer;
}
.xo_challenge_container footer #startXoChallengeBtn {
  background-color: #8837e9;
  color: white;
}
.xo_challenge_container footer #joinXo {
  border: 3px solid rgba(0, 0, 0, 0.1);
}
.xo_challenge_select {
  display: flex;
  flex-direction: column;
  height: 25rem;
}

.xo_challenge_select footer,
.spin_challenge_modal footer {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 10px;
  border-top: 2px solid var(--border-color);
}

.xo_challenge_select footer button,
.spin_challenge_modal footer button {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid var(--border-color);
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
}

.xo_challenge_select footer button:last-child,
.spin_challenge_modal footer button:last-child {
  background: #000000;
  color: #ffffff;
  border: none;
}

.xo_challenge_select {
  margin-bottom: 10px;
}

.xo_challenge_select ul {
  display: flex;
  flex-direction: column;

  height: 100%;
  overflow: auto;
  scrollbar-width: none;
  padding: 10px 0;
}

.xo_challenge_select ul::-webkit-scrollbar {
  width: 0;
}

.xo_challenge_select ul li {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 10px;
  transition: background-color 0.2s ease-in-out;
}

.xo_challenge_select ul li img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--primary-color);
}

.xo_challenge_select ul li:hover {
  background: var(--border-color);
}

.xo_challenge_select ul li:not(:last-child) {
  margin-bottom: 10px;
}

.xo_challenge_select ul li button {
  margin-left: auto;
  padding: 5px 15px;
  border-radius: 24px;
  background: #eaecf0;
  border: 1px solid #00000010;
  font-size: 12px;
  font-weight: 600;
  color: #000000;
  width: 7rem;
}

.xo_challenge_select ul li button[data-mode="invite"] {
  background: var(--primary-color);
  border: 1px solid #00000010;
  color: #ffffff;
}
.xo-modal {
  position: fixed;
  top: 8%;
  right: 0;
  width: 450px;
  background: #fceede;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

  z-index: 1000;
  transition: opacity 0.3s ease;
  height: 92vh;
  /* height: 500px;
  overflow-y: scroll;
  scrollbar-width: none; */
}

.global_send_coin_modal {
  position: fixed;
  top: 8%;
  right: 0;
  width: 450px;
  left: auto;
  z-index: 9999;
  transition: opacity 0.3s ease;
}
.active_collaborators_container {
  display: flex;
  margin-left: auto;
  align-items: center;
  cursor: pointer;
}
.active_collaborators_container > div {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffff;
  margin-left: -10px;
}

.active_collaborators img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.active_collaborators_container .more {
  color: #7f56d9;
  background: #f9f5ff;
}
.xo-hidden {
  display: none !important;
}

.xo-modal-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.xo-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}
.xo-header .xo-header-left img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.xo-header .xo-header-left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.xo-header-left .current {
  color: #605b5b;
  font-weight: bold;
  font-size: 12px;
}
.xo-header-left .viewer {
  color: #000000;
  font-weight: bold;
  font-size: 16px;
}
.xo-header .xo-header-right {
  display: flex;
  gap: 7px;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
}

.xo-header .xo-header-right .xo-header-right-boost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.xo-header .xo-header-right span.boost {
  background: linear-gradient(to right, #ff9800 0%, #ff6d00 50%, #f44336 100%);
  color: white;

  padding: 5px 10px;
  font-weight: bold;
  border-radius: 20px;
  opacity: 0;
  transform: translateY(5px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none; /* optional: prevents accidental interaction when hidden */
}
.xo-header .xo-header-right-boost:hover span.boost {
  opacity: 1;
  transform: translateY(0);
}

.xo-header .xo-header-right .xo-header-right-stats {
  display: flex;
  gap: 3px;
  align-items: center;
  gap: 10px;
  background: black;

  padding: 5px 10px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 18px;
}

.xo-players {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 2rem;
  padding: 0 20px;
}

.xo-players .xo-vs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 3px;
}
.xo-players .xo-vs .xo-min {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background-color: #ffbc08;
  border-radius: 50%;
  font-size: 14px;
  font-weight: semi-bold;
  color: #333;
}
.xo-players .xo-vs .xo-new-game .red-color {
  color: #e50800;
}
.xo-players .player {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}
.xo-players .player span {
  border: 3px solid #ecb214;
  color: #ecb214;
  width: 102px;
  height: 36px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.xo-players .player .player-status {
  background: #ffffff;

  padding-top: 15px;
  position: relative;
  width: 118px;
  height: 100px;
  border-radius: 12px;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.xo-players .player .player-status img {
  position: absolute;
  top: -30px;
  left: 30px;
}

.player img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.symbol {
  width: 50px;
  height: 39px;
  margin: 5px auto;
  font-weight: bold;
  border-radius: 10px;
  line-height: 24px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
}

.symbol.x {
  background-color: #d9534f;
}

.symbol.o {
  background-color: #f0ad4e;
}

.score {
  display: block;
  margin-top: 5px;
  font-weight: bold;
}

.xo-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 300px;
  height: 250px;
  background: linear-gradient(to bottom, #f43f4e 0%, #8e252d 100%);
  padding: 0;
  border-radius: 12px;
  margin-bottom: 20px;
}

.cell {
  background: transparent;
  box-sizing: border-box;
  border-right: 2px solid #f0ad4e;
  border-bottom: 2px solid #f0ad4e;
}

/* Remove right border from last column cells */
.cell:nth-child(4n) {
  border-right: none;
}

/* Remove bottom border from last row cells */
.cell:nth-last-child(-n + 4) {
  border-bottom: none;
}

#nextGameBtn {
  background-color: #ffcc00;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
}

.terminat-game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: -23px;
  padding: 0 20px;
}
.terminat-game img {
  width: 30px;
  height: 30px;
  /* padding-bottom: 3rem; */
}

.terminat-game img.end-game {
  width: 50px;
  height: 100px;
}

/* Fire animation Style  */

.fire-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.fire-animation .fire-animation-text span {
  position: absolute;
  top: 50%;
  left: 0;
  width: 255px;
  height: 32px;
  background: #992df2;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;

  border-radius: 16px;
  padding-left: 10px;
}
.fire-animation .fire-animation-text span.collab-coin {
  width: 320px;
}

.fire-animation .item-1 {
  position: absolute;
  bottom: 70px;
  right: -55px;
  width: 100%;
  height: 100%;
}

.fire-animation .item-1 img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  left: 60px;
  top: 85px;
}
.fire-animation .item-1 img.user-coin {
  left: 90px;
  top: 90px;
}
.fire-animation .item-1 img.coin {
  width: 50px;
  height: 50px;
  left: 65px;
  top: 60px;
}
