/* Boost Live Modal */
.boost_live_modal {
  width: 340px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 15px;
  position: absolute;
  inset: 40px -40px auto auto !important;
  border: 2px solid var(--border-color);
}

.boost_live_modal_header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.boost_live_modal_title {
  font-size: 24px;
  font-weight: 600;
  margin-right: 8px;
}

.boost_info_icon {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.boost_live_modal_subtitle {
  color: #666;
  font-size: 14px;
  margin-bottom: 16px;
}

.boost_live_modal_coin_balance {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 4px;
}

.boost_live_modal_coin_label {
  font-size: 18px;
  color: #666;
  font-weight: normal;
}

.boost_live_modal_description {
  font-size: 14px;
  line-height: 1.4;
  color: #333;
  margin: 20px 0;
}

.boost_live_modal_boost_button {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 14px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.boost_live_modal_boost_button:hover {
  background-color: #7e22ce;
}

/* Boost Dialog */
.boost-dialog {
  width: 340px;
  max-height: 80dvh;
  overflow-y: auto;
  scrollbar-width: none;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 15px;
  position: absolute;

  inset: 40px -40px auto auto !important;
  border: 2px solid var(--border-color);
  z-index: 1010;
}

.boost-header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boost-header {
  position: relative;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
}

.boost-header .balance-coin {
  font-weight: 600;
}

.boost-title {
  font-size: 18px;
  font-weight: 600;
}

.boost-option:not(:last-child) {
  margin-bottom: 16px;
}

.boost-option {
  border-radius: 12px;
  padding: 16px;
}

.boost-option-basic {
  background-color: #fafafa;
}

.boost-option-premium {
  background-color: #f6f2c2;
}

.boost-option-ultimate {
  background-color: #dfe3f3;
}

.option-label {
  text-align: center;
  font-size: 14px;
  color: #333;
  margin-bottom: 4px;
}

.coin-amount {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.coin-text {
  font-size: 18px;
  font-weight: normal;
}

.feature-text {
  text-align: center;
  font-size: 14px;
  color: #333;
  margin-bottom: 4px;
}

.price-text {
  text-align: center;
  color: #ff3b30;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 12px;
}

.duration {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}

.boost-button {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
  display: block;
  margin: 0 auto;
  max-width: 200px;
}

.boost-button:hover {
  background-color: #7e22ce;
}
