.chat_search_settings button.new_live_chat {
  background: linear-gradient(to right, #46db6e, #35f67f) !important;
}

.live_chat_item {
  border-top: 1px solid var(--border-color);
  padding: 6px 12px;

  display: flex;
  align-items: center;
  gap: 10px;

  transition: background-color 0.3s ease-in-out;
}

.live_chat_item:hover,
.live_chat_item.active {
  background: #f8f3fe;
}

.live_chat_item.boost-basic {
  background: #f8f8f8;
}

.live_chat_item.boost-power30 {
  background: #e9cccc;
}

.live_chat_item.boost-power60 {
  background: #d6cce9;
  border: 4px solid transparent;
  border-image: linear-gradient(to right, #da4daa, #992df2) 1;
}

.chat_list_item_option_wrapper {
  display: none;
}

.live_chat_item:hover .live_message_info {
  display: none !important;
}

.live_chat_item:hover .chat_list_item_option_wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;

  position: relative;
}

.live_chat_item .live_chat_photo {
  width: 50px;
  height: 50px;
  border-radius: 8px;

  overflow: hidden;

  /* If default image is used */
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to bottom, #eaeaef, #bdbdbe);
}

.live_chat_item .live_chat_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.live_chat_title {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 3px;
}

.live_chat_title .title {
  color: #3c3c435a;
  font-size: 16px;

  display: inline-flex;
}

.live_chat_title .title span {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}

.live_chat_title .live_interests {
  display: flex;
  align-items: center;
  gap: 4px;
}

.live_chat_title .live_interests li {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 13px;
  background: #f8f8f8;
}

.live_chat_title .live_interests li.more {
  color: #848484;
  font-size: 12px;
  font-weight: 500;
}

.new_live_message_counts {
  width: 40px;
  min-width: 30px;
  padding: 2px 0;
  border-radius: 20px;

  background: var(--primary-color);
  color: white;
  font-size: 13px;

  text-align: center;
}

.live_chat_description {
  font-size: 12px;

  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/*------------------------------- Live Chat Information Details  -------------------------------*/
#liveInfoTabContainer,
#groupInfoTabContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  padding: 10px 15px !important;
}

.liveInfoTabContainerWrapper {
  padding: 0 !important;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.live_info_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.live_detailed_info_photo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;

  text-align: center;
}

.live_detailed_info_photo .live_info_photo {
  width: 80px;
  height: 80px;
  border-radius: 10px;

  overflow: hidden;
}

.live_detailed_info_photo .live_info_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.live_detailed_name {
  display: flex;
  align-items: center;
  gap: 6px;

  font-size: 1.3rem;
}

.live_detailed_name span:first-child {
  color: #3c3c435a;
}

.live_detailed_name span:last-child {
  color: #000000;
  font-weight: 600;
}

.live_detailed_members {
  display: flex;
  align-items: center;
  gap: 6px;

  color: #3c3c438c;
  font-size: 16px;
  font-weight: 400;
}

.live_detailed_info_photo > p {
  font-size: 14px;
  color: #3c3c43;
  text-align: center;
}

.live_detailed_interests {
  display: flex;
  align-items: center;
  gap: 3px;
}

.live_detailed_interests li {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 13px;
  background: #f8f8f8;
}

.live_detailed_interests li.more {
  color: #848484;
  font-size: 12px;
  font-weight: 500;
}

.live-chat-interest-more-container {
  width: 10rem;
  border-radius: 8px;
  border: 1px solid #f1f1f1;
  padding: 10px;
  max-width: 15rem;
  box-shadow: var(--global-box-shadow);
  background: #ffffff;
}

.live-chat-interest-filter-container {
  position: relative;
  background: #f4f4f5;
  border-radius: 5px;
  padding: 4px 5px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.live-chat-interest-filter-container input {
  background: #f4f4f5;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 0.8rem;
  color: #a1a1aa;
}

.live-chat-interest-more-container ul {
  margin-top: 5px;
  max-height: 10rem;
  overflow-y: auto;
}

.thin-scroll-bar {
  scrollbar-gutter: stable;
  display: none;
  flex-shrink: 0;
  overflow-y: auto;
  transition-property: width;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media (min-width: 1024px) {
  .thin-scroll-bar {
    display: block;
  }
}

.live-chat-interest-more-container ul li {
  padding: 7px 0;
  color: #363853;
  font-size: 0.8em;
  text-transform: capitalize;
  border-radius: 0 !important;
  background: none !important;
}

.live_chats_members {
  padding: 0.6rem;
  border-radius: 0.4rem;
  background: #f8f8f8;
}

.live_chats_members .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 6px;
}

.live_chats_members .heading div {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #757272;
  font-size: 16px;
}

.live_chats_members .heading div span:first-child {
  font-size: 15px;
}

.live_chats_members .member_items {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.live_chats_members .member_items .member_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.member_items .member_item .member_item_info {
  display: flex;
  align-items: center;
  gap: 7px;
}

.member_item_info > div:has(img) {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.member_item_info > div:has(img) img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.member_item_info span {
  display: block;
}

.member_item_info div span:first-child {
  color: black;
  font-size: 16px;
  font-weight: 600;
}

.member_item_info div span:last-child {
  color: #676767;
  font-size: 13px;
  font-weight: 400;
}

.member_item_action {
  display: flex;
  align-items: center;
  gap: 6px;
}

.member_item_action span.admin {
  color: var(--link-color);
  font-size: 15px;
}

.member_item_action button {
  position: relative;
}

/* Member List Option */
.member_item_options {
  position: absolute;

  border: 1px solid var(--border-color);
  border-radius: 10px;
  overflow: hidden;
  background: white;

  width: 15rem;
  box-shadow: var(--global-box-shadow);
  z-index: 99;

  display: none;
}

.member_item_options[aria-expanded="true"] {
  display: block;
}

.member_item_options > * {
  padding: 7px 12px;
  transition: background-color 0.2s ease-in-out;

  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: #363853;
  font-size: 13px;
}

.member_item_options > *.color_red {
  color: var(--global-red-color);
}

.member_item_options > *:hover {
  background: var(--border-color);
}

.live_detailed_exit_report {
  padding: 0.3rem 0.6rem;
  border-radius: 0.4rem;
  background: #f8f8f8;
}

.live_detailed_exit_report button {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  padding: 0.3rem 0;
  width: 100%;
  color: var(--global-red-color);
}

.live_detailed_exit_report button:focus-visible {
  outline: 1px solid var(--global-red-color);
}

.live_detailed_exit_report button:first-child {
  border-bottom: 1px solid var(--border-color);
}

/*---------------------------------- Live Header CSS ----------------------------------*/
.live_chat_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.live_chat_header .chatting_container_user_info {
  width: 100%;
}

.live_chat_header_actions {
  width: fit-content;

  display: flex;
  align-items: center;
  gap: 5px;
}

.live_chat_header_actions button {
  width: 40px;
  height: 35px;
  /* padding: 10px; */
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}

.live_chat_header_actions button:hover {
  background: var(--border-color);
}

.live_chat_header h3 {
  font-size: 14px;
  font-weight: 400;
  color: black;
  text-transform: lowercase;
}

.live_chat_header h3 span:first-child {
  color: #3c3c4365;
}

.chatting_container_user_info > div {
  display: flex;
  align-items: center;
}

.live_active_users_list {
  display: flex;
  align-items: center;
}

.live_active_users_list > * {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  object-fit: cover;
}

.live_active_users_list > *:not(:first-child) {
  margin-left: -5px;
}

.live_active_users_list span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  border: 1px solid var(--border-color);
  font-size: 10px;
  background: white;
}

.opened_live_chatting_container_preview {
  width: 100%;
  height: 12rem;
  overflow: hidden;
  border-radius: 0.7rem;
}

.opened_live_chatting_container_preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
