.location_modal {
  position: absolute;
  z-index: var(--overlay-z-index);
  bottom: 0;
  right: 0;
}

.location_modal_container_wrapper {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background: #eaecf0;
  padding: 6px;
  animation: slideUp 0.2s ease-in-out;
  width: 25rem;
}

@keyframes slideUp {
  from {
    transform: translateY(6px);
    opacity: 0.8;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.location_modal_container_wrapper header {
  display: flex;
  align-items: center;
  gap: 6px;

  margin-bottom: 10px;
}

.location_modal_container_wrapper header button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location_modal_container_wrapper h3 {
  color: #00000050;
  font-weight: 400;
  font-size: 1rem;
}

.location_container_tracking {
  background: #ffffff;
  border-radius: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 6px;
}

#locationTrackingMap {
  height: 10rem;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.location_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.location_container_tracking h3,
.location_container_tracking h4 {
  color: #000000f4;
  font-weight: 600;
  font-size: 1rem;
  padding: 6px 0;
}

.location_container_tracking h3 {
  border-bottom: 1px solid #99999981;
}

.location_container_tracking .share_location_btn {
  background: var(--primary-color);
  padding: 0.5rem;
  border-radius: 2rem;
  color: white;
  width: 100%;

  font-weight: 600;
  font-size: 14px;
  justify-content: center;
}

.location_container_tracking .enable_live_location {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.enable_live_location p {
  font-weight: 300;
  font-size: 12px;
}

.nearby_location p {
  font-size: 12px;
  font-weight: 300;
  padding-top: 10px;
}

.nearby_location p button {
  color: var(--primary-color);
  text-decoration: underline;
}

.location_lists {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding-top: 10px;
}

.location_lists li {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 13px;
  font-weight: 400;
}

.location_lists li .location_icon {
  width: 30px;
  min-width: 30px;
  height: 30px;
  background: #eaecf0;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.location_lists li .custom_location_check {
  width: 20px;
  min-width: 20px;
  height: 20px;

  outline: 1px solid var(--border-color);
  border-radius: 50%;
  margin-left: auto;
}

.location_lists li.active .custom_location_check {
  background: #d9d9d9;
  outline: 1px solid var(--primary-color);
  border: 5px solid transparent;

  display: flex;
  justify-content: center;
  align-items: center;
}

.location_lists li .custom_location_check span {
  display: none;
}

.location_lists li.active .custom_location_check span {
  display: block;
  width: 10px;
  height: 10px;
  background: var(--primary-color);
  border-radius: 50%;
}

.search_location_form {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
  border: 1px solid var(--border-color);
  padding: 4px 8px;

  transition: background-color 0.3s ease-in-out;
}

.search_location_form:focus-within {
  background: #e5e7eb46;
}

.search_location_form input {
  width: 100%;
  background: none;
  color: #6f6f6f;
}

.location_container_tracking[aria-state="searching"] > * {
  display: none;
}

.location_container_tracking .search_location_form,
.location_container_tracking #searchPlacesContainer {
  display: none;
}

.location_container_tracking[aria-state="searching"] #locationTrackingMap,
.location_container_tracking[aria-state="searching"] .search_location_form,
.location_container_tracking[aria-state="searching"] button.share_location_btn,
.location_container_tracking[aria-state="searching"] #searchPlacesContainer {
  display: flex;
}

#searchPlacesContainer {
  padding: 0.8rem 0;
  min-height: 6rem;
}

.location_container_tracking button.share_location_btn:disabled {
  background: var(--primary-color-fade);
}

.location_modal_view {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: var(--overlay-z-index);
}

.location_modal_view .location_modal_container_wrapper {
  height: 40rem;
}

.location_modal_view header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.view_location_lower .title {
  border-bottom: 1px solid var(--border-color);
  padding: 10px;
  padding-top: 0;
  font-weight: 600;
  font-size: 14px;

  padding-top: 1rem;
}

.view_location_lower .view_location_action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.view_location_lower .view_location_action button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.view_location_lower .view_location_action button span:first-child {
  border-radius: 50%;
  border: 3px solid var(--border-color);
  padding: 6px;
  margin-bottom: 5px;
}

.view_location_map {
  display: flex;
  flex-direction: column;
  height: 100%;

  background: white;
  padding: 8px;
  border-radius: 15px;
}

.view_location_map .view_map_image {
  width: 100%;
  height: 100%;
  max-height: 27rem;
}

.view_map_image img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
