#forwardContainer header {
  justify-content: flex-start;
}

#forwardContainer header h1 {
  font-size: 17px;
  font-weight: 500;
}

#forwardContainer .filter_options {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  height: 3rem;
  overflow-x: auto;
  scrollbar-width: none;
  min-height: 2.3rem;
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

#forwardContainer .filter_options button {
  border-radius: 20px;
  border: 1px solid #ccc9c9;
  word-wrap: nowrap;
  padding: 3px 15px;

  color: black;
  font-weight: 500;
}

#forwardContainer .filter_options button[aria-selected="true"] {
  background: var(--primary-color);
  color: white;
  border: none;
}

#forwardItemsListWrapper {
  height: 100%;

  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#forwardItemsListWrapper > div:not(.forward_items_list_footer) {
  padding-bottom: 5rem !important;
  scrollbar-width: none;
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

#forwardItemsListWrapper .forward_items_list_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 9;

  padding: 15px;
  border-top: 1px solid var(--border-color);
}

.forward_items_list_footer button {
  width: 100%;
  background: var(--primary-color);
  border-radius: 10px;
  padding: 10px;
  color: white;
  text-align: center;
}

.forward_items_list_footer button:disabled {
  background: var(--primary-color-fade);
}

.forward_select_btn_wrapper {
  margin-left: auto;
}

.forward_select_btn_wrapper .forward_select_btn {
  background: var(--border-color);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s ease-in-out;

  padding: 8px 16px;
  border-radius: 12px;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.forward_select_btn[aria-selected="true"] {
  background: var(--primary-color);
  color: white;
}

.forwarding_to_selected {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.forwarding_to_selected:has(div) {
  min-height: 5.4rem;
  padding-top: 3px !important;
}

.forwarding_to_selected > div {
  width: 5rem;
  height: 5rem;
  min-width: 5rem;
  min-height: 5rem;

  position: relative;
}

.forwarding_to_selected > div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.forwarding_to_selected > div button {
  position: absolute;
  bottom: -4px;
  right: -4px;
}
