.friend_section_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend_section_header h5 {
  font-size: 17px;
  color: black;
  font-weight: 700;
}

.friend_section_header button.add_friends {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 8px;

  background: var(--border-color);
}

.search_available_friends {
  background: var(--border-color);
  border-radius: 20px;

  padding: 5px 9px !important;

  display: flex;
  align-items: center;
  gap: 6px;
}

.search_available_friends:focus-within {
  outline: 1px solid var(--primary-color);
}

.search_available_friends input {
  width: 100%;
  background: none;
  color: #75787c;
  font-size: 13px;
}

.search_available_friends input::placeholder {
  font-size: 13px;
}

.search_available_friends input:focus-visible {
  outline: none;
}

#friendItemsList {
  padding: 0 6px !important;
}

.friend_category_item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.friend_category_item .photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.friend_category_item .photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.friend_profile_info > div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  font-weight: 400;
  color: black;
}

.friend_profile_info .username {
  color: #8e8e93;
  font-size: 12px;
  font-weight: 400;
}

.friend_item_call_to_action {
  margin-left: auto;

  display: flex;
  align-items: center;
  gap: 10px;
}

.friend_item_call_to_action button {
  background: var(--border-color);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.4s ease-in-out;
}

.friend_item_call_to_action button:first-child {
  padding: 8px 16px;
  border-radius: 12px;
  font-size: 12px;
}

.friend_item_call_to_action button:first-child:hover {
  background: #ff3a309f;
  color: white;
}

.friend_item_call_to_action button:last-child {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.friend_item_call_to_action button.follow:first-child {
  background: var(--link-color);
  color: white;
}

.friend_category_container h2 {
  color: black;
  font-size: 16px;
  font-weight: 600;
}

.friendCategoryItemList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}
