.chat-theme-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #34405480;
  z-index: var(--overlay-z-index);

  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-theme-container {
  background: #ffffff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;

  width: 60rem;
  height: 75vh;

  position: relative;
  overflow: hidden;
}

.chat-theme-container .upload_more {
  position: absolute;
  bottom: 15px;
  right: 15px;

  padding: 3px;
  width: 40px;
  height: 40px;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--primary-color);
}

.chat-theme-container .upload_more .upload_more_text {
  display: none;
}

.chat-theme-container header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  border-bottom: 1px solid var(--border-color);
}

.chat-theme-container header h2 {
  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: 600;
}

.chat-theme-container .chat-theme-grid {
  height: 100%;
  overflow-y: auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  column-gap: 1rem;
  row-gap: 0.6rem;
  padding: 10px;
}

.chat-theme-grid .theme_grid_item {
  display: flex;
  flex-direction: column;
}

.theme_grid_item > div {
  height: 10rem;
  background: linear-gradient(to bottom, #d32f2f, #c2185b);
  border-radius: 0.7rem;
  overflow: hidden;
  position: relative;
}

.theme_grid_item > div img {
  width: 100%;
  height: 100%;
}

.theme_grid_item .item_name {
  font-weight: 400;
  font-size: 13px;
  color: black;
  text-align: center;
  padding-top: 4px;
}

.theme_grid_item .select_theme {
  position: absolute;
  top: 5px;
  right: 5px;
  border: 1px solid var(--border-color);

  width: 20px;
  height: 20px;
  padding: 1px;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.theme_grid_item .select_theme svg {
  display: none;
}

.theme_grid_item .select_theme[aria-selected="true"] {
  background: var(--primary-color);
  border: none;
}

.theme_grid_item .select_theme[aria-selected="true"] svg {
  display: block;
}

@media screen and (max-width: 1024px) {
  .chat-theme-modal {
    display: none !important;
  }
}
