.language_container > div {
  display: flex;
  flex-direction: column;
  padding: 0;

  height: 100%;
}

#languageLists {
  height: 100%;
  overflow-y: auto;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

#languageLists li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#languageLists li h4 {
  font-weight: 400;
  font-size: 15px;
  color: black;
}

#languageLists li span {
  color: #686363;
  font-size: 13px;
  font-family: "Inter";
  font-weight: lighter;
}

#languageLists li button {
  border: 1px solid var(--border-color);

  width: 20px;
  height: 20px;
  padding: 1px;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#languageLists li button svg {
  display: none;
}

#languageLists li button[aria-selected="true"] {
  background: var(--primary-color);
  border: none;
}

#languageLists li button[aria-selected="true"] svg {
  display: block;
}
