#mainChatContainer .chat_spacer_grid_area section {
  border: 1px solid var(--border-color);
  border-radius: 0.7rem;
  height: 100%;
  width: 100%;
}

.chat_spacer_grid_area {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 0.7rem;
  box-sizing: border-box;

  position: relative;
  overflow: hidden;
  border-radius: 0.6rem;
}

.chat_spacer_grid_area.grid__item--2 {
  grid-template-columns: repeat(2, 1fr);
}

.chat_spacer_grid_area.grid__item--3 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.chat_spacer_grid_area.grid__item--3 > section:nth-of-type(1) {
  grid-column: 1;
  grid-row: 1 / 3;
}

.chat_spacer_grid_area.grid__item--3 > section:nth-of-type(2) {
  grid-column: 2;
  grid-row: 1;
  /* height: 30vh !important; */
}

.chat_spacer_grid_area.grid__item--3 > section:nth-of-type(3) {
  grid-column: 2;
  grid-row: 2;
  /* height: 30vh !important; */
}

.chat_spacer_grid_area.grid__item--4 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#mainChatContainer .chat_spacer_area {
  width: 100%;
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.chat_spacer_area .chat_spacer_empty {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  background: #f8f8f8;
  font-weight: 500;
}

.chat_spacer_area .chat_spacer_empty button {
  background: linear-gradient(15deg, #8a2be2, #00ff7f);
  border: none;
  padding: 10px 4rem;
  border-radius: 30px; /* For the rounded corners */
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.3s; /* Optional: for hover effects */
}

.chat_spacer_area .chat_spacer_empty button:hover {
  opacity: 0.9; /* Optional: slight fade on hover */
}

.chatting_area_container {
  height: 100%;
  width: 100%;

  overflow: hidden;
  z-index: 0;
}

@media screen and (max-width: 1024px) {
  #mainChatContainer .chat_spacer_area {
    display: none !important;
  }
}
/* <div class="chat_spacer_grid_area" data-layout-count="1" id="chatItemsContainerWrapper"> */
