.document_spacer_preview {
  overflow-y: auto;
  background: #f8f8f8 !important;
}

.documentPreviewCanvas {
  width: 100% !important;
}

#documentPreviewHeader {
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
}

#documentPreviewHeader.active {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.chat_message_file {
  background: white;
  padding: 4px;
  border-radius: 0.6rem;

  width: 18rem;
  display: flex;
  gap: 0.6rem;

  cursor: pointer;
}

.chat_message_file > div:first-child {
  border: 1px solid var(--border-color);
  border-radius: 0.6rem;
  width: 6rem;
  height: 4rem;
  min-width: 5rem;
  overflow: hidden;
}

.chat_message_file > div:first-child img {
  width: 100%;
  height: 100%;
}

.chat_message_file h5 {
  color: black;
  font-size: 18px;
  font-weight: 500;

  margin: 0;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.chat_message_file p {
  font-size: 14px;
  font-weight: 600;
  color: #0000007d;
  padding-top: 4px;
}
