.emoji-picker-overlay {
  position: absolute;
  overflow: hidden;
  box-shadow: var(--sizemug-shadow-2xl);
  border: 2px solid var(--border-color);
}

.emoji-picker-overlay.modal {
  border: none;
}

.emoji-picker-overlay.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999999;
  background: #34405480;
}

.emoji-picker-modal {
  width: 100%;
  max-width: 450px;
  height: 30rem;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: var(--sizemug-shadow-2xl);

  display: flex;
  flex-direction: column;
  gap: 10px;

  animation: slideUp 0.2s ease-in-out;
}

.emoji-picker-modal emoji-picker {
  width: 100%;
  height: 100%;
}

.chat-emoji-wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
