.video_spacer_preview {
  position: relative;
}

.video_preview_controls {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.change_video_state {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding: 5px;
  background: #0000007a;

  display: flex;
  justify-content: center;
  align-items: center;
}

.change_video_state svg.play_icon,
.change_video_state[data-mode="play"] svg.pause_icon,
.change_video_state[data-mode="pause"] svg.play_icon {
  display: block;
}

.change_video_state[data-mode="play"] svg.play_icon,
.change_video_state svg.pause_icon,
.change_video_state[data-mode="pause"] svg.pause_icon {
  display: none;
}

.chat_message_image--video {
  position: relative;
}

.change_video_state.play_video--btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.picture_spacer_preview video {
  object-fit: contain !important;
}
