/* Modal */
.spin_challenge_modal,
.spin_challenge_select_modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #34405480;
  z-index: var(--overlay-z-index);

  display: flex;
  justify-content: center;
  align-items: center;
}

.spin_challenge_container,
.spin_challenge_select {
  width: 30rem;

  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.spin_challenge_select {
  display: flex;
  flex-direction: column;
  height: 25rem;
}

.spin_challenge_container header {
  padding: 10px;
  border-bottom: 1px solid var(--border-color);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-weight: 600;
  font-size: 17px;
}

.spin_challenge_container header > * {
  display: flex;
  align-items: center;
  gap: 8px;
}

.spin_grid_items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  padding: 10px;
}

.spin_grid_items button {
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.spin_grid_items button[data-spin-type="random"] {
  grid-column: span 2;
  background: #f43f5e;
}

.spin_grid_items button[data-spin-type="movie"] {
  background: #0ea5e9;
}

.spin_grid_items button[data-spin-type="music"] {
  background: #8b5cf6;
}

.spin_grid_items button[data-spin-type="history"] {
  background: #f59e0b;
}

.spin_grid_items button[data-spin-type="pop-culture"] {
  background: #5856d6;
}

.spin_challenge_select footer,
.spin_challenge_modal footer {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 10px;
  border-top: 2px solid var(--border-color);
}

.spin_challenge_select footer button,
.spin_challenge_modal footer button {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid var(--border-color);
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
}

.spin_challenge_select footer button:last-child,
.spin_challenge_modal footer button:last-child {
  background: #000000;
  color: #ffffff;
  border: none;
}

.spin_challenge_select {
  margin-bottom: 10px;
}

.spin_challenge_select ul {
  display: flex;
  flex-direction: column;

  height: 100%;
  overflow: auto;
  scrollbar-width: none;
  padding: 10px 0;
}

.spin_challenge_select ul::-webkit-scrollbar {
  width: 0;
}

.spin_challenge_select ul li {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 10px;
  transition: background-color 0.2s ease-in-out;
}

.spin_challenge_select ul li img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--primary-color);
}

.spin_challenge_select ul li:hover {
  background: var(--border-color);
}

.spin_challenge_select ul li:not(:last-child) {
  margin-bottom: 10px;
}

.spin_challenge_select ul li button {
  margin-left: auto;
  padding: 5px 15px;
  border-radius: 24px;
  background: #eaecf0;
  border: 1px solid #00000010;
  font-size: 12px;
  font-weight: 600;
  color: #000000;
  width: 7rem;
}

.spin_challenge_select ul li button[data-mode="invite"] {
  background: var(--primary-color);
  border: 1px solid #00000010;
  color: #ffffff;
}

/* Aside Slider */
.spinContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30rem;
  z-index: 1000;

  background: #ffffff;
  box-shadow: 0 4px 12px #0000001a;
  overflow: hidden;
  padding: 16px;

  transform: translateX(20rem);
  visibility: hidden;
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.spinContainer.active {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.spin_slider_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  height: 100%;
  overflow: auto;
  scrollbar-width: none;
}

.spin_slider_container::-webkit-scrollbar {
  width: 0;
}

/* Header */
.spin_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  background: #fff;
}

.spin_header-left {
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;

  display: flex;
  align-items: center;
  gap: 10px;
}

.spin_header-left button.game_count {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  border-radius: 50%;

  width: 2rem;
  height: 2rem;
}

.spin_header-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
  border: 1px solid #929292;
  background: var(--primary-color);
  border-radius: 2rem;
  padding: 1px 6px;
  color: #ffffff;
  font-weight: 500;
}

.spin_header-middle img {
  margin-left: -1.3rem;
}

.spin_header-middle button {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background: #f1b31c;

  display: flex;
  justify-content: center;
  align-items: center;
}

.spin_header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.spin_header-right button {
  width: 2rem;
  height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.spin_header-left .clock_time_left {
  position: relative;
}

.spin_header-left .clock_time_left span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #003f8a;
  font-weight: 600;
  font-size: 10px;
  margin-top: 1px;
}

.wheel-container {
  position: relative;
  width: 330px;
  height: 330px;

  display: flex;
  justify-content: center;
  align-items: center;

  align-self: center;
  border-radius: 50%;
}

#spinBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%);
  background: #fff;
  border: none;
  border-radius: 50%;
  font: bold 16px Arial;
  color: #333;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

#spinBtn::after {
  content: "";
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 18px solid #fff;
  z-index: 20;
}

.wheel-container .wheel {
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 0 0 10px 0px #0000001a;
  overflow: hidden;
}

.wheel-container .wheel .segment {
  width: 60%;
  height: 50%;
  background: var(--clr);
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0% 0%;
  transform: rotate(calc(360deg / 7 * var(--i))) translate(0, -100%);
  border-top-right-radius: 1000px;
  border-top-left-radius: 1000px;
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
  display: flex;
  align-items: self-end;
  justify-content: center;
  padding-bottom: 30px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 12px;
}

.segment-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  transform: rotate(50deg);
  /* margin-right: 13px; */
}

.segment-content h3 {
  font-size: 13px;
  font-weight: 600;
}

.segment-content img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.segment-content span {
  font-size: 12px;
  font-weight: 400;
}

.spin_wheel_footer {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  margin-bottom: -80px;
  position: relative;
}

.spin_wheel_footer header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spin_wheel_footer header > div:last-child {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.spin_wheel_footer header > div:last-child > * {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.spin_wheel_footer header #closeSpinWheelModal {
  background: var(--primary-color);
}

.spin_wheel_footer .score {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #999999;
  margin-bottom: 8px;
}

.quote_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 100%;
}

#ownerQuoteContainer {
  padding-top: 3rem;
}

#ownerQuoteContainer h1 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

#ownerQuoteContainer button.answer_status {
  background: #69f0ae;
  color: #ffffff;
  border: none;
  border-radius: 24px;
  padding: 0.7rem 3rem;
  font-size: 16px;
  font-weight: 600;
}

.quote_container .profile {
  width: 70px;
  height: 70px;
  min-height: 70px;
  border-radius: 50%;
  overflow: hidden;

  box-shadow: var(--global-box-shadow);
}

#ownerQuoteContainer .profile {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 4px solid #69f0ae;
}

.quote_container .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quote_container .quote {
  font-size: 16px;
  font-weight: 800;
  width: 70%;
  text-align: center;

  padding: 1rem 0;
}

.quote_container .options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  height: 100%;
}

.quote_container .option {
  padding: 12px 1.5rem;
  border-radius: 24px;
  background: #eceffd;
  color: #667085;
  cursor: pointer;
  overflow: hidden;
  height: 3rem;
  text-shadow: 0 0 10px #0000001a;
  position: relative;
}

.quote_container .option span:first-child {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  transition: width 0.3s ease-in-out;
}

.quote_container .option span:nth-child(2) {
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 0%;
  height: 100%;
  transform: translateY(-50%);
  z-index: 2;
  padding-left: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.quote_container .option[aria-selected="true"] {
  color: #ffffff;
}

.quote_container .option[aria-selected="true"] span:first-child {
  background: #69f0ae;
  border-radius: 24px;
}

.quote_container .option .transparent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 4;
}

/*------------------------------------------------ LeaderBoard ------------------------------------------------*/
.leaderboard {
  display: flex;
  flex-direction: column;
  gap: 10px;

  height: 100%;
}

.leaderboard h2 {
  text-align: center;
  font-weight: 800;
  font-size: 24px;
}

.leaderboard_tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.leaderboard_tabs button {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid var(--border-color);
  font-size: 15px;
  font-weight: 600;
  border-radius: 24px;

  transition: background-color 0.2s ease-in-out;
}

.leaderboard_tabs button:hover,
.leaderboard_tabs button.active {
  background: #ff2d6c;
  color: #ffffff;
}

.leaderboard_list,
.leaderboard_item_rank {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.leaderboard_list {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}

.leaderboard_list::-webkit-scrollbar {
  width: 0;
}

.leaderboard_list .leaderboard_item {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  border: 2px solid var(--border-color);
  border-radius: 15px;
  padding: 10px 15px;
}

.leaderboard_list .leaderboard_item.active {
  background: #e6fff9;
}

.leaderboard_item_rank {
  align-items: center;
  gap: 3px;

  font-weight: 600;
  font-size: 13px;
}

.leaderboard_item_score {
  padding: 5px 20px;
  background: #cae2e6;
  border-radius: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  color: #222222;
}

.leaderboard_item_info {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 15px;
}

.leaderboard_item_info .leaderboard_item_avatar {
  width: 45px;
  min-width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 1px 10px 0px #0000001a;
}

.leaderboard_item_info .leaderboard_item_avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.leaderboard_item_name {
  color: #222222;
  font-weight: bold;
  font-size: 15px;

  margin: 0;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 1.2rem;
}

/* Leaderboard Places */
.leaderboard_places {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  padding-top: 1.5rem;
}

.leaderboard_places .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10px;
}

.leaderboard_places .profile-picture {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaderboard_places .profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 25%;
  border-radius: 50%;
}

.leaderboard_places .rank_info {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;

  margin-top: -1.2rem;
}

.leaderboard_places .rank {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  font-size: 14px;
  box-shadow: 0 1px 10px 0px #0000001a;
}

.leaderboard_places .name {
  font-size: 14px;
  font-weight: 600;
}

.leaderboard_places .score {
  padding: 2px 16px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 12px;
  color: white;
}

/* First Place Styling */
.leaderboard_places .profile-first {
  order: 2;
  z-index: 3;
}

.leaderboard_places .profile-picture-container .profile-picture {
  width: 100px;
  height: 100px;
  border: 4px solid #ccc;
}

.leaderboard_places .profile-first .profile-picture {
  width: 140px;
  height: 140px;
  border: 4px solid #ffd700;
  background-color: #ffd700;
}

.leaderboard_places .profile-img-first {
  border: 4px solid white;
}

.leaderboard_places .rank-first {
  background-color: #ffd700;
}

.leaderboard_places .score-first {
  background-color: #ffd700;
}

.leaderboard_places .crown {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
}

/* Second Place Styling */
.leaderboard_places .profile-second {
  order: 1;
  z-index: 2;
}

.leaderboard_places .profile-second .profile-picture {
  border: 4px solid #c0c0c0;
  background-color: #c0c0c0;
}

.leaderboard_places .profile-img-second {
  border: 4px solid white;
}

.leaderboard_places .rank-second {
  background-color: #c0c0c0;
}

.leaderboard_places .score-second {
  background-color: #c0c0c0;
}

/* Third Place Styling */
.leaderboard_places .profile-third {
  order: 3;
  z-index: 1;
}

.leaderboard_places .profile-third .profile-picture {
  border: 4px solid #cd7f32;
  background-color: #cd7f32;
}

.leaderboard_places .profile-img-third {
  border: 4px solid white;
}

.leaderboard_places .rank-third {
  background-color: #cd7f32;
}

.leaderboard_places .score-third {
  background-color: #cd7f32;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .leaderboard_places {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .leaderboard_places .profile {
    order: 0 !important;
  }

  .leaderboard_places .profile-first {
    margin-bottom: 20px;
  }
}

#awardCupIconHeart {
  font-size: 0.8rem;
  cursor: pointer;
}

#awardCupIconHeart.active {
  color: red;
}
