.post_preview--wrapper {
  height: calc(100dvh - 20rem);
  overflow-y: auto !important;
  padding-bottom: 1rem;
}

.post_preview--wrapper::-webkit-scrollbar {
  width: 0rem;
}

.post_preview {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.post_preview h1 {
  font-size: 30px;
  font-weight: bold;
}

.post_preview p {
  font-size: 14px;
  color: #363853;
}

.post_preview ul {
  display: flex;
  gap: 10px;
}

.post_preview ul li {
  padding: 3px 13px;
  border-radius: 15px;
  background: #00000009;
  font-size: 13px;
  font-weight: 500;
}

.preview_images--gallery {
  overflow-x: auto;
  display: flex;
  gap: 10px;
}

.preview_images--gallery::-webkit-scrollbar {
  height: 0rem;
}

.preview_images--gallery .preview_image img {
  width: 250px;
  height: 380px;
  max-width: none;
  border-radius: 15px;
}

@media screen and (max-width: 1024px) {
  .post_preview--wrapper {
    height: 100%;
    overflow-y: hidden !important;
  }

  .post_preview h1 {
    font-size: 25px;
  }

  .post_preview ul {
    overflow-x: auto;
  }

  .post_preview ul::-webkit-scrollbar {
    height: 0rem;
  }

  .create_post_section--sticky {
    border-top: 1px solid #eaecf0 !important;
  }
}

@media screen and (max-width: 667px) {
  .post_preview h1 {
    font-size: 17px;
  }

  .post_preview--wrapper {
    height: 100%;
  }
}
