.skeleton---loading {
  background: linear-gradient(90deg, #f0f0f09f 25%, #e0e0e0a7 50%, #f0f0f0a4 75%);
  background-size: 200% 100%;
  animation: SkeletonShimmer 1.5s infinite;
}

@keyframes SkeletonShimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0% 0;
  }
}

.marketing_loading {
  height: calc(100vh - var(--header-nav-height));
  overflow: hidden;
}

.marketing_loading--nav {
  height: 10%;
}

.marketing_loading--main {
  height: 90%;
  padding: 1rem;
  display: flex;
  gap: 20px;
}

.marketing_loading--main > div {
  width: 100%;
  height: 100%;
}

.marketing_loading--main div {
  border-radius: 6px;
}

.marketing_loading--aside {
  width: 20% !important;
}

.marketing_loading--aside div {
  width: 5rem;
  height: 2.5rem;
  width: 100%;
  margin-bottom: 10px;
}

.marketing_loading--aside div:nth-child(1) {
  width: 5rem;
  height: 2rem;
}

.marketing_loading--lists {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;

  height: calc(100dvh - 13rem);
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scroll-behavior: smooth;
}

.results_amount--skeleton {
  width: 5rem;
  height: 2rem;
  margin-bottom: 10px;
}

.marketing_loading--list .spacer {
  height: 10rem;
}

.marketing_loading--list .bottom {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.marketing_loading--list .bottom div:nth-child(1) {
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

.marketing_loading--list .bottom div:nth-child(2) {
  width: 30%;
  height: 25px;
}
.marketing_loading--list .bottom div:nth-child(3) {
  margin-left: auto;
  width: 30%;
  height: 25px;
}

@media screen and (max-width: 1023px) {
  .marketing_loading--nav {
    height: 8%;
  }

  .marketing_loading--aside {
    width: 100% !important;
  }

  .marketing_loading--lists {
    height: initial;
  }

  .marketing_loading--main {
    height: initial;
    flex-direction: column;
    padding-bottom: 10rem;
  }
}

@media screen and (max-width: 667px) {
  .marketing_loading--main {
    padding-bottom: 7rem;
  }
}

@media screen and (max-width: 300px) {
  .marketing_loading--lists {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
