.analytics_row_2 {
  display: flex;
  gap: 1rem;
}

canvas#analysisTMCChart {
  width: 100%;
  height: 100%;
}

.analytics_row_2 > div {
  padding: 0.7rem;
  border-radius: 1rem;
  background: white;
}

.analytics_row_2 > div:first-child {
  flex: 2;

  display: flex;
  flex-direction: column;
  gap: 3px;
}

.analytics_row_2 > div:nth-child(2) {
  flex: 2.5;
}

.analytics_row_2 > div:last-child {
  flex: 1.5;

  display: flex;
  flex-direction: column;
  gap: 3px;
}

/* task_marketplace_collaboration_container */
#tasksTab {
  display: flex;
  align-items: center;
  gap: 9px;
}

#tasksTab button {
  padding: 3px 10px;
  border-radius: 1rem;
  background: #f3e9ff;
  color: #060606;

  transition: background-color 0.3s ease-in-out;
}

#tasksTab button[aria-selected="true"],
#tasksTab button:hover {
  background: var(--primary-color);
  color: white;
}

.task_marketplace_collaboration_container {
  height: 100%;
}

.task_marketplace_collaboration_container h3 {
  font-size: 0.9rem;
  font-weight: 600;
  color: #000000;

  padding: 8px 0;
}

.task_marketplace_collaboration_container > div {
  display: flex;
  flex-direction: column;
  flex: 1;

  overflow-y: auto;
}

.task_marketplace_collaboration_container ul {
  display: flex;
  flex-direction: column;
  gap: 10px;

  flex: 1;
  overflow-y: auto;

  padding-top: 5px;
}

.task_marketplace_collaboration_container ul::-webkit-scrollbar {
  width: 0.375rem;
  height: 0.375rem;
}

.task_marketplace_collaboration_container ul::-webkit-scrollbar-track {
  background-color: transparent;
}

.task_marketplace_collaboration_container ul::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: #e9e9e9;
}

.task_marketplace_collaboration_container ul li {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 6px;
  border-radius: 0.6rem;
  transition: background-color 0.3s ease-out;
}

.task_marketplace_collaboration_container ul li[aria-selected="true"],
.task_marketplace_collaboration_container ul li:hover {
  background: black;
  color: white;
}

.task_marketplace_collaboration_container ul li img {
  width: 3.5rem;
  height: 2.5rem;
  border-radius: 0.4rem;
}

.task_marketplace_collaboration_container ul li h4 {
  font-weight: 500;
  font-size: 1rem;
}

.task_marketplace_collaboration_container ul li span {
  min-width: 25px;
  height: 25px;
  color: white;
  font-size: 12px;
  border-radius: 100%;
  margin-left: auto;

  background: linear-gradient(to top right, #fb9b21, #f08906);
  display: flex;
  justify-content: center;
  align-items: center;
}

/**************************************** *****************************************/

.foresee_container h4 {
  font-weight: 600;
  font-size: 0.9rem;
}

.foresee_container p {
  color: #808080;
  font-size: 0.7rem;
  font-weight: 400;
}

.foresee_container > div {
  display: flex;
  flex-direction: column;
  flex: 1;

  overflow-y: auto;
}

.foresee_container ul {
  display: flex;
  flex-direction: column;
  gap: 4px;

  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
  padding-top: 5px;
}

.foresee_container ul li {
  display: flex;
  align-items: center;
  gap: 0.6rem;

  padding: 6px;
  border-radius: 0.6rem;
  transition: background-color 0.3s ease-out;
}

.foresee_container ul li.skeleton {
  height: 2rem;
  min-height: 2rem;
  width: 100%;
}

.foresee_container ul li img {
  width: 24px;
  height: 24px;
  border-radius: 100%;
}

.foresee_container ul li h5 {
  font-weight: 300;
  font-size: 0.8rem;
}

.foresee_container ul li > button {
  margin-left: auto;
  background: var(--link-color);
  color: white;

  padding: 0.2rem 0.7rem;
  border-radius: 5px;
  font-size: 0.7rem;
}

.foresee_container ul li:has(.marketplace_action) {
  flex-direction: column;
  gap: 0.3rem;
}

.foresee_container ul li:has(.marketplace_action) img {
  width: 3.5rem;
  height: 2.5rem;
  border-radius: 0.4rem;
}

.foresee_container ul li:has(.marketplace_action) h4 {
  font-weight: 400;
  font-size: 0.8rem;
}

.foresee_container ul li:has(.marketplace_action) > div:first-child {
  display: flex;
  align-items: center;
  gap: 8px;
}

.foresee_container ul li .marketplace_action {
  align-self: flex-start;
}

.foresee_container ul li .marketplace_action button {
  padding: 0.2rem 0.7rem;
  font-size: 0.7rem;
  font-weight: 400;
  border-radius: 0.3rem;
}

.foresee_container ul li .marketplace_action button.buy {
  background: var(--link-color);
  color: white;
}

.foresee_container ul li .marketplace_action button.view {
  background: none;
  color: black;
  border: 1px solid var(--border-color);
}

.foresee_container ul li .marketplace_action span {
  font-size: 13px;
  padding-left: 10px;
}
