.views_overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #34405480;
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;
  animation: Modal 0.1s ease;
}

.views_overlay--wrapper {
  position: relative;
  width: 95vw;
  height: 92vh;
  background: white;
  border-radius: 15px;
}

.views_overlay_hide_mobile--button {
  display: none;
}

.views_main_container--overlay {
  padding: 0.9rem;

  display: flex;
  gap: 0.6rem;
  height: 100%;
}

.views_main_container--overlay .left_container {
  flex: 2;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.views_main_container--overlay .right_container {
  flex: 1;
}

.views_main_container--overlay .left_container header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.views_main_container--overlay .left_container header span:nth-child(2) {
  color: #101828;
}

.views_main_container--overlay .left_container header span:nth-child(3) {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: bold;
}

/* overlay_analytics_device_location */
.overlay_analytics_device_location {
  display: flex;
  gap: 0.7rem;
}

.overlay_analytics_device_location > div {
  flex: 1;

  background: white;
  border-radius: 0.7rem;
  padding: 0.5rem;

  border: 1px solid var(--border-color);
}

.overlay_analytics_device_location h4 {
  font-weight: 600;
  padding-bottom: 0.9rem;
}

.overlay_analytics_device_location .chart_row {
  display: flex;
  align-items: center;
}

.overlay_analytics_device_location .chart_row canvas {
  width: 20rem;
}

.overlay_analytics_device_location .chart_row ul {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.overlay_analytics_device_location .chart_row ul li {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  font-size: 0.9rem;
  font-weight: 400;
}

.overlay_analytics_device_location .chart_row ul li span:first-child {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.overlay_analytics_device_location .chart_row ul li span:last-child {
  margin-left: auto;
}

.overlay_analytics_device_location ul li span.purple {
  background: #8837e9;
}

.overlay_analytics_device_location ul li span.blue {
  background: #1c64f2;
}

.overlay_analytics_device_location ul li span.orange {
  background: #fda629;
}

.overlay_analytics_device_location ul li span.light-gray {
  background: #aec7ed;
}

#locationChart {
  margin-right: 20px;
}

/* Right container */
.views_main_container--overlay .right_container .age_count {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.8rem;
  font-weight: 400;
}

.views_main_container--overlay .right_container .age_count button {
  background: #f3e9ff;
  color: #060606;
  font-size: 0.9rem;
  border-radius: 1.05rem;
  padding: 0.2rem 0.6rem;
}

.views_main_container--overlay .right_container .age_count button[aria-selected="true"] {
  color: #ffffff;
  background: var(--primary-color);
}

.views_main_container--overlay .right_container .reach_people {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  border: 1px solid var(--border-color);
  border-radius: 0.6rem;
  padding: 0.7rem;

  margin-top: 1rem;
  height: 93%; /* Fallback for other browsers */
}

.views_main_container--overlay .right_container .reach_people > * {
  display: flex;
  align-items: center;
}

.views_main_container--overlay .right_container .reach_people header {
  gap: 0.4rem;
}

.views_main_container--overlay .right_container .reach_people .country_name {
  color: #000000;
  font-weight: bold;
}

.views_main_container--overlay .right_container .reach_people .country_count {
  color: var(--primary-color);
  font-weight: bold;
}

.views_main_container--overlay .right_container .reach_people form {
  background: #f6f6f6;
  padding: 0.4rem 0.8rem;
  border-radius: 0.6rem;
  gap: 0.2rem;
}

.views_main_container--overlay .right_container .reach_people form:focus-within {
  outline: 1px solid var(--primary-color);
}

.views_main_container--overlay .right_container .reach_people form input {
  width: 100%;
  background: none;
  outline: none;
  border: none;
}

.views_main_container--overlay .right_container .reach_people .filter_lists {
  gap: 0.6rem;
}

.views_main_container--overlay .right_container .reach_people .filter_lists button {
  background: #f3e9ff;
  color: #060606;
  font-size: 0.9rem;
  border-radius: 1.05rem;
  padding: 0.2rem 0.6rem;
}

.views_main_container--overlay .right_container .reach_people .filter_lists button[aria-selected="true"] {
  background: var(--primary-color);
  color: white;
}

.views_main_container--overlay .right_container .reach_people ul {
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;
  scrollbar-width: none;
}

.right_container .reach_people ul li.user-skeleton {
  min-height: 3rem;
  height: 3rem;
  border-radius: 10px;
}

.right_container .reach_people ul li {
  display: flex;
  align-items: center;
  gap: 1rem;

  font-weight: 400;
  font-size: 1.1rem;
  width: 100%;

  transition: background-color 0.3s ease-in-out;
}

.right_container .reach_people ul li img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

.right_container .reach_people ul li button {
  background: var(--link-color);
  padding: 0.2rem 0.6rem;
  border-radius: 7px;
  color: white;

  display: flex;
  align-items: center;
  gap: 4px;

  margin-left: auto;
}

.views_overlay_map {
  flex: 1;
  padding: 10px;
}

/* Map Tooltip */
.creator_audience {
  height: 30rem;
  padding: 1rem 0;
}

#allSvg {
  width: 100%;
  height: 100%;
}

#mapTooltip {
  position: absolute;
  background-color: #ffffff;
  width: fit-content;
  opacity: 0;
  border-radius: 0.5rem;
  padding: 0.8rem;
  font-size: 1.5rem;

  box-shadow: var(--global-box-shadow);
}

#mapTooltip #mapTooltipCountry {
  color: #344054;
  font-weight: 700;
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
}

#mapTooltip ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #667085;
  font-size: 0.7rem;
  font-weight: 400;
}

#timeCont {
  background-color: white;
  width: fit-content;
  font-size: 1.5rem;
  padding: 5px 5px;
  border-radius: 5px;
  border: 3px solid var(--primary-color);
}

.creator_audience svg path {
  cursor: pointer;
  stroke: var(--primary-color);
}

.view_by_location_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

.view_by_location_list li {
  display: flex;
  align-items: center;
  gap: 5px;
  /* justify-content: space-between; */
}

.view_by_location_list li .dot {
  width: 10px;
  min-width: 10px;
  height: 10px;
  border-radius: 100%;
}

.view_by_location_list li h2 {
  font-weight: 600;
  font-size: 1rem;
}

.view_by_location_list li span:last-child {
  margin-left: auto;
}

.view_by_location_list li:first-child .dot {
  background: #8000808b;
}

.view_by_location_list li:nth-child(2) .dot {
  background: #0080408b;
}

.view_by_location_list li:last-child .dot {
  background: #b92406d1;
}
