:root {
  --primary: #8837e9;
  --warning: #fda629;
}

.frame43 {
  box-sizing: border-box;
  padding: 16px;
  gap: 16px;
  width: 100%;
  border: 1px solid #eaecf0;
  border-radius: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*flex-basis: calc(50% - 8px);  Four items per row (25% width) with gap */
  margin-bottom: 40px;
}

.no-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 426px;
  height: 299px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.no-post span {
  width: 137px;
  height: 48px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;

  text-align: center;

  color: rgba(0, 0, 0, 0.6);

  flex: none;
  order: 0;
  flex-grow: 0;
}

.no-post img,
.no-post svg {
  width: 426px;
  height: 235px;
  border-radius: 16px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame50 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  min-width: 170px;

  flex: none;
  order: 0;
  flex-grow: 1;
}

.explore_img {
  position: relative;
  width: 100%;
  height: 396px;
  border-radius: 16px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  border-radius: 16px;
}

.frame65 {
  z-index: 6;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 100%;
  height: 40px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.frame95 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 115px;
  height: 31px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;

  width: fit-content;
  height: 31px;

  border-radius: 16px;

  flex: none;
  order: 0;
  flex-grow: 0;
  border: none;

  cursor: pointer;
}

.btn-primary {
  background: var(--primary);
}

.btn-warning {
  background: var(--warning);
}

.btn-primary:hover {
}

.btn_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn span {
  height: 27px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;

  text-align: center;

  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame94 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 8px;

  width: 40px;
  height: 40px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame94 button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 12px;

  width: 40px;
  height: 40px;

  background: #ffffff;
  border-radius: 12px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame94 button span.m {
  width: 24px;
  height: 24px;

  background: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
}

span.m .m1 {
  position: absolute;
  left: 70.83%;
  right: 20.83%;
  top: 45.83%;
  bottom: 45.83%;

  border: 2px solid #33363f;
  border-radius: 2px;
}

.m2 {
  position: absolute;
  left: 20.83%;
  right: 70.83%;
  top: 45.83%;
  bottom: 45.83%;

  border: 2px solid #33363f;
  border-radius: 2px;
}

.frame59 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  margin: 0 auto;
  width: 100%;
  height: 112px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.frame58 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.group-ava-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 109px;
  height: 24px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.group-ava-text img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 24px;
  height: 24px;

  border: 0.8px solid #ffffff;
  border-radius: 200px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame58-user-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 75px;
  height: 20px;

  flex: none;
  order: 1;
  flex-grow: 0;

  width: 75px;
  height: 20px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;

  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame58-follow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 44px;
  height: 20px;

  flex: none;
  order: 1;
  flex-grow: 0;

  width: 44px;
  height: 20px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;

  color: #1c64f2;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame61 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.frame61-title {
  width: 100%;
  height: 24px;

  font-family: "Inter";
  font-style: normal;
  @apply text-base font-semibold;
  color: #ffffff;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.cover-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 16px;
  overflow: hidden;
}

.bg-overlay {
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(232, 122, 244, 0.3);
  background: linear-gradient(0deg, rgba(64, 31, 31, 0.5), rgba(0, 0, 0, 0.4));

  border-radius: 16px;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;

  transition: opacity 0.3s ease;
}

.h150 {
  height: 450px !important;
}

.h170 {
  height: 320px !important;
}

.h200 {
  height: 280px !important;
}

.h230 {
  height: 300px !important;
}

.h250 {
  height: 250px !important;
}

.h270 {
  height: 270px !important;
}

.h300 {
  height: 300px !important;
}

.h320 {
  height: 320px !important;
}

.h350 {
  height: 350px !important;
}

.h370 {
  height: 370px !important;
}

.h400 {
  height: 400px !important;
}

.h420 {
  height: 420px !important;
}

.h450 {
  height: 450px !important;
}

.h500 {
  height: 500px !important;
}

.frame53 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 259px;
  height: 943px;

  flex: none;
  order: 0;
  flex-grow: 1;
}

.overlay {
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 16px;
  gap: 16px;
  height: 100%;
  border-radius: 16px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  transition: opacity 0.3s ease;
}

.explore_img:hover .bg-overlay {
  display: flex;

  opacity: 1;
  z-index: 4;
}

.explore_img:hover .overlay {
  display: flex;

  opacity: 1;
  z-index: 6;
}

@media (max-width: 467px) {
  .frame59 {
    display: flex;
    visibility: visible;
    opacity: 1;
    z-index: 6;
  }

  .frame43 {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 467px) and (max-width: 768px) {
  .frame43 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1125px) {
  .frame43 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 640px) {
  .frame59 {
    display: flex;
    visibility: visible;
    opacity: 1;
    z-index: 2;
  }
}
