* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.introjs-helperLayer {
  box-shadow: 0 0px 1px 2px #8837e9, 0 0px 0px 5000px #34405480 !important;
  transition: all 0.3s ease-out;
}

.introjs-tooltip {
  background-color: #192232 !important;
  min-width: min-content !important;
  max-width: max-content !important;
}

#custom_intro_holder {
  color: white !important;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
}

#custom_intro_holder img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

#custom_intro_holder h1 {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

#custom_intro_holder p {
  font-size: 0.8rem;
  color: #ffffff97;
  line-height: 1.3rem;
}

#custom_intro_holder .footer_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
}

#custom_intro_holder .footer_row > div {
  display: flex;
  gap: 0.4rem;
}

#custom_intro_holder .dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #28313f;
  transition: all 0.3s ease;
}

#custom_intro_holder .dot.active {
  background: #8837e9;
}

#custom_intro_holder .footer_row button {
  color: #ffffff;
  border-radius: 4px;
  border: none;
  padding: 5px 0;
  width: 70px;
  font-weight: 600;
  font-size: 0.7rem;
}

#custom_intro_holder #dismiss {
  background: #28303f;
}

#custom_intro_holder #next {
  background: #8837e9;
}

.introjs-arrow.bottom,
.introjs-arrow.bottom-middle,
.introjs-arrow.bottom-right {
  border-top-color: #192232 !important;
  /* margin: 0 !important; */
  margin-left: 0 !important;
}

.introjs-arrow.top,
.introjs-arrow.top-middle,
.introjs-arrow.top-right {
  border-bottom-color: #192232 !important;
  margin-left: 0 !important;
}

.introjs-tooltip-header {
  display: none !important;
}

.introjs-tooltiptext,
.introjs-bullets {
  padding: 0 !important;
}

.introjs-bullets,
.introjs-tooltipbuttons {
  display: none !important;
}
