/* Modal CSS */
.overlay {
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #34405480;
  z-index: var(--whiteboard-overlay-z-index);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: Modal 0.1s ease;
}

/* New Board */
.new_board {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 400px;
}

.new_board > div {
  padding: 16px;
  background: #fff;
  border-radius: 10px;
}

.new_board .paste_url h1 {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 500;
}

.new_board .paste_url #copy_link_wrapper {
  padding: 10px;
  border-radius: 6px;
  background: #f4f4f4;
  display: flex;
  justify-content: space-between;
  gap: 6px;
}

.new_board .paste_url #create_board_with_url {
  background: none;
  width: 100%;
  color: #808080c8;
}

.new_board .paste_url button,
.share_modal .bottom .copy_link button {
  width: 85px;
  font-size: 14px;
  font-weight: 500;
}

.new_board .action_btns {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.new_board .action_btns button {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  color: #ffff;
  font-size: 14px;
}

.new_board .action_btns button:first-child {
  background: linear-gradient(to right, #37b6f2, #31c6fe);
}

.new_board .action_btns button:last-child {
  background: linear-gradient(to right, #e592c9, #f3627e);
}

/* Share Modal */
.share_modal,
.share_modal > div:last-child {
  display: flex;
  flex-direction: column;
}

.share_modal {
  gap: 15px;
  width: 520px;
}

.share_modal > div {
  padding: 15px;
  border-radius: 10px;
  background: #ffffff;
}

.share_modal > div:last-child {
  gap: 8px;
}

.share_modal > div:last-child input {
  border-radius: 8px;
  background: #f4f4f4;
  padding: 0.6rem;
  outline: none;
}

.share_modal > div:last-child input::placeholder,
.share_modal > div:last-child input {
  color: #9e9e9e;
  font-size: 13px;
}

.share_modal #invite_button {
  background: linear-gradient(to right, #37b6f2, #31c6fe);
  color: #ffffff;
  border-radius: 8px;
  padding: 0.6rem;
  transition: all 0.4s ease-in-out;
}

#invite_button {
  background: #1c64f2;
}

.share_modal button:disabled {
  background: #909397cf !important;
  cursor: not-allowed;
}

.share_modal > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.share_modal .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.share_modal .top h2 {
  font-size: 25px;
  font-weight: 600;
}

.share_modal .top button {
  width: 40px;
  height: 40px;
  background: #f4f4f4;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.share_modal .bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.share_modal .bottom h3 {
  font-size: 20px;
  font-weight: 500;
}

.share_modal .bottom .copy_link {
  background: #f4f4f4;
  border-radius: 7px;
  padding: 0.8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.share_modal .bottom .copy_link p {
  color: #3638537f;
}

.share_modal .middle {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  gap: 20px;
  padding: 1rem 0;
}

.share_modal .middle button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: #363853;
  font-size: 14px;
  font-weight: 500;
}

.modal_mobile_cancel,
.filter_board,
.filter_board_overlay {
  display: none;
}

.invite_sent--message {
  background: #def7ec !important;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: #046c4e;
}

.invite_sent--message > div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.invite_sent--message h3 {
  font-weight: 500;
  font-size: 0.9rem;
}

#invite_component--form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 667px) {
  .new_board {
    width: 100%;
    background: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    gap: 0;

    border-radius: 15px 15px 0 0;
  }

  .new_board > div {
    padding: 0;
  }

  .new_board .action_btns {
    flex-direction: column;
    border-top: 1px solid #d2d2d2c3;
    border-radius: 0;

    padding: 15px;
  }

  .new_board .paste_url h1 {
    text-align: center;
    font-size: 20px;
  }

  .new_board .paste_url > div {
    border-top: 1px solid #d2d2d2c3;
    padding: 15px;
  }

  .modal_mobile_cancel {
    position: relative;
    top: -3.4rem;
    right: 0.4rem;
    margin-left: auto;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .overlay.filter_board_overlay {
    display: block;
  }

  .filter_board {
    display: block;
    width: 100%;
    background: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 15px 15px 0 0;
  }

  ul.board_filter {
    display: flex;
    flex-direction: column;
  }

  ul.board_filter li {
    padding: 15px;
    border-top: 1px solid #d2d2d2c3;
  }

  ul.board_filter li a {
    display: block;
    width: 100%;
    height: 100%;
  }

  ul.board_filter li a:focus {
    border: none;
    outline: none;
  }
}

ul.board_filter li.active a {
  color: #8837e9;
}
