.private_public_switch {
  width: 200px;
  height: 37px;
  border-radius: 20px;
  background: #f6f6f6;
  border: 1px solid #eaecf0;
  position: relative;

  padding: 4px;
  font-size: 13px;
}

.private_public_switch div:first-child {
  position: relative;
  z-index: 3;
  display: flex;
  height: 100%;
}

.private_public_switch div:last-child {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 20px;

  display: flex;
  align-items: center;
}

.private_public_switch button {
  width: 50%;
  border-radius: 20px;
  font-weight: 600;
  color: #00000063;
  cursor: pointer;
}

.private_public_switch button.active {
  color: #8837e9;
}

.private_public_switch .slider {
  position: absolute;
  width: 50%;
  height: 90%;
  background: white;
  border: 1px solid #eaecf0;
  border-radius: 20px;
  transition: transform 0.4s ease;
  margin-left: 4px;

  /* When translate to the right */
  /*
  margin-left: -4px
  transform: translatex(100%)
  */
}

/* Switch Container For Whiteboard */
.switch_buttons_wrapper {
  background: #f3f3f3;
  max-width: 180px;
  height: 35px;
  border-radius: 20px;
  position: relative;
  margin-bottom: 14px;
}

.switch_buttons_wrapper .switch_buttons,
.switch_buttons_wrapper .switch_sliding {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 4px 5px;
}

.switch_buttons_wrapper .switch_buttons {
  display: flex;
  align-items: center;
  z-index: 999999;
}

.switch_buttons_wrapper .switch_buttons button {
  width: 50%;
  margin: 0;
  font-size: 12px;
  background: none;
  color: #00000063;
}

.switch_buttons_wrapper .switch_buttons button.clicked {
  color: #8837e9 !important;
}

.switch_buttons_wrapper .switch_sliding--slider {
  width: 50%;
  height: 100%;
  background: white;
  border-radius: 20px;
  transition: transform 0.3s ease;
}
