#canvas-container {
  position: relative;
}

.editable-text--wrapper {
  position: absolute;
  font-size: 16px;
  overflow: hidden;
  outline: none;
  background: none;
  border: none;
}

.editable-text {
  height: 100%;
  width: 100%;
}

.shape-actions {
  position: absolute;
  display: flex;
  gap: 10px;
}

.shape_editor_wrapper {
  position: relative;
  padding: 5px;
  height: 100%;
}

.shape-actions button {
  border: none;
  background: white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 0px 10px #f3f3f3;
}

.shape-actions button img {
  width: 20px;
  height: 20px;
}

/* Editor */
.whiteboard_shape_editor_wrapper {
  position: absolute;
  top: -4rem;
  z-index: 99999;
}

/* Add these styles */
.canvas-wrapper {
  position: relative;
  display: inline-block;
}

.shape-text-editor {
  position: absolute;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
  text-align: center;
  display: none;
  z-index: 10;
}

.shape-text-editor.active {
  display: block;
  pointer-events: all;
}
