.whiteboard_board_container {
  position: fixed;
  top: 5rem;
  left: 1rem;

  width: 320px;
  max-height: 80vh;
  border: 1px solid #bec1c7;
  border-radius: 10px;
  padding: 0;
  animation: Modal 0.2s ease;

  z-index: var(--whiteboard-overlay-z-index);
  background: white;

  scrollbar-width: none;
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.whiteboard_board_container header {
  padding: 0.7rem;
  padding-bottom: 10px;
  border-bottom: 1px solid #dededf82;
  border-radius: 8px 8px 0 0 !important;
}

.whiteboard_board_container header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 0.4rem;
}

.whiteboard_board_container header h1 {
  font-size: 1.2rem;
  font-weight: 800;
  color: #000000;
}

.whiteboard_board_container form {
  display: flex;
  gap: 7px;

  padding: 7px 10px;
  border-radius: 8px;
  background: #a1a1aa1a;
  transition: all 0.3s ease;
}

.whiteboard_board_container form:focus-within {
  background: #a1a1aa44;
}

.whiteboard_board_container form input {
  width: 100%;
  background: none;
  outline: none;
}

.board_page--main h2 {
  color: #344054;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.board_recent_scrolling,
.all_scrolling--1,
.all_scrolling--2 {
  width: 100%;
  max-height: 200px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  display: flex;
  gap: 10px;
}

.all_scrolling--2 {
  margin-top: 1rem;
}

.board_page_recent_item {
  max-width: 220px;
  min-width: 220px;
}

.board_page_recent_item .recent_item_thumbnail {
  height: 120px;
}

.board_page_recent_item h3,
.board_page_recent_item .who_minutes {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board_page--main > div:first-child {
  margin-bottom: 1rem;
}

.recent_item .details {
  justify-content: inherit;
}

.board_page_recent_item .details > div:first-child {
  min-width: 60%;
  max-width: 60%;
}

.board_page_recent_item .details > div:last-child {
  min-width: 40%;
  max-width: 40%;
}

.board_page_recent_item .details .collaborating_with {
  flex-direction: column;
}

.board_page_recent_item .details > div:last-child > div {
  align-self: flex-end;
  display: flex;
  align-items: center;
}

button.new_board {
  width: 100%;
  background: linear-gradient(to top right, #37b6f2, #31c6fe);
  border-radius: 8px;
  color: #ffffff;
  margin-top: 1.2rem;
  padding: 0.6rem 0;
  font-size: 14px;
  font-weight: 500;

  display: flex;
  align-items: center;
}

.all_scrolling--1 > div,
.all_scrolling--2 > div {
  max-width: 210px;
  min-width: 210px;
}

.open_new_board svg {
  animation: rotate0Deg 0.2s linear forwards;
  transform-origin: center;
}

.open_new_board svg.active {
  animation: rotate180Deg 0.2s linear forwards;
  transform-origin: center;
}

@keyframes rotate180Deg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotate0Deg {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* Mobile Board */
.mobile_board {
  background: white;
  position: fixed;
  height: 93vh;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.mobile_board main > h2 {
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  border-bottom: 1px solid #ececec;
  padding: 0 0 1rem 0;
}

.mobile_board main form {
  display: flex;
  gap: 7px;
  padding: 7px 10px;
  border-radius: 8px;
  background: #a1a1aa1a;
  transition: all 0.3s ease;
}

.mobile_board main form:focus-within {
  background: #a1a1aa44;
}

.mobile_board main form input {
  width: 100%;
  background: none;
  outline: none;
}

.mobile_board main footer {
  position: absolute;
  border-top: 1px solid #ececec;
  padding: 1.2rem 1.7rem;
  background: white;
  right: 0;
  left: 0;
  bottom: 0;
}

.mobile_board main footer button {
  background: linear-gradient(to right, #37b6f2, #31c6fe);
  border-radius: 8px;
  width: 100%;
  padding: 0.7rem 1.5rem;
  color: white;
  font-size: 15px;
}

.mobile_board main .overflowing_container {
  overflow-y: auto;
  height: 40rem;
  scrollbar-width: none;
  padding: 15px 10px;
  padding-bottom: 4rem;
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.mobile_board .overflowing_container h2 {
  margin: 1rem 0 0.6rem;
}

.mobile_board .overflowing_container .switch_buttons_wrapper {
  margin-top: 1rem;
}

.white_board--mobile {
  display: none;
}

@media screen and (max-width: 850px) {
  .white_board--mobile {
    display: block;
  }
}
