/* MENU OPITON */
.menu_options {
  display: none;
}
.menu_options {
  position: fixed;
  top: 5rem;
  left: 0.5rem;
  border: 1px solid #bec1c7;
  border-radius: 10px;
  animation: Modal 0.2s ease;
  width: 400px;
  background: white;
}

.menu_options header {
  padding: 15px 18px;
  border-bottom: 1px solid #bec1c7;
  border-radius: 10px 10px 0 0;
}

.menu_options header h1 {
  font-size: 18px;
  font-weight: 700;
  color: #050038;
}

.menu_options ul {
  padding: 7px 0;
  color: #344054;
  display: flex;
  flex-direction: column;
}

.menu_options ul li {
  padding: 10px 18px;
  display: flex;
  align-items: center;
  gap: 10px;

  transition: all 0.4s ease;
}

.menu_options ul li:hover {
  background: #f3f3f3;
}

@media screen and (max-width: 850px) {
  .menu_options {
    display: block;
  }
}

@media screen and (max-width: 450px) {
  .menu_options {
    width: 80vw;
  }
}
